html,body{
  width: 100%;
  height: 100%;
  /*background-color: #d9edf7;*/
  /*border-color: #bce8f1;*/
  background-color: white;
}

.todo-list-container{
  /*background-color: #d9edf7;*/
  /*border-color: #bce8f1;*/
}

.msg-list{
  /*background-color: #d9edf7;*/
  /*border-color: #bce8f1;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.msg-list-section{
  margin-bottom: 71px;
  display: table;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.msg-input-section{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  border-top: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
}
