html,body{
  width: 100%;
  height: 100%;
  background-color: white;
}

.address-finder{
  height: 100%;
}

.address-finder .btn-search{
  width: 100%;
  z-index: 2;
}

.address-finder .map-container{
  width: 100%;
  height: calc(100% - 34px);
  z-index: 1;
}

.full-width{
  width: 100%;
}

.full-height{
  height: 100%;
}

.addr-container{
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
  padding : 10px;
}

.addr-container{
  font-size: 14px;
}
