html,body{
  background-color: white;
}

.container{
  padding-top: 20px;
}

.total-price-value,
.total-price-label{
  font-size: 1.5em;
  font-weight: 400;
  text-align: right;
}


.label-strong{
  font-weight: bold;
  font-size: 1.2em;
}

#counterArea{
  background-color: #ddd;
}

#counterArea .form-group{
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}
