html,body{
  width: 100%;
  height: 100%;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.todo-list-container{
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.msg-list{
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.header-section{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}

.header-section .header{
  margin-bottom: 0;
  padding-left: 10px;
}

.msg-list-section{
  margin-top: 51px;
  margin-bottom: 71px;
  display: table;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.msg-input-section{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efefef;
  border-top: 1px solid #ddd;
  padding-bottom: 10px;
  padding-top: 10px;
}
