<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">주문관리</a>
      </li>
      <li class="active">취소내역조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        취소내역조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(10)건의 취소내역이 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <select class="form-control flat status-select">
						<option data-parent="default" value="">전체</option>
						<option data-parent="warning" value="환불대기">환불대기</option>
						<option data-parent="success" value="환불완료">환불완료</option>
					</select>
				</div>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group">
          <input type="text" class="form-control" placeholder="고객명,연락처,상품명,주문번호">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <%# <div class="col-md-2 col-sm-2 col-xs-2 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-seller" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>%>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>주문번호</th>
              <th>구매자</th>
              <th>구매자연락처</th>
              <th>구매상품</th>
              <th>구매처</th>
              <th>환불금액</th>
              <th>환불여부</th>
              <th>최근수정</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a target="_blank" href="/order/OrderDetail">1234151235</a></td>
              <td>예약자1</td>
              <td>010-1234-1234</td>
              <td>장금호[전촌항]</td>
              <td>MA티몬</td>
              <td><span class="color-danger">150,000원</span></td>
              <td>
                <div class="hidden-sm hidden-xs btn-group">
									<button class="btn btn-xs btn-danger">환불대기</button>
								</div>
              </td>
              <td><span  class="color-default">shpark 17.05.31 10:30</span></td>
            </tr>
            <tr>
              <td>1</td>
              <td><a target="_blank" href="/order/OrderDetail">123512341</a></td>
              <td>예약자1</td>
              <td>010-1234-1234</td>
              <td>장금호[전촌항]</td>
              <td>MA티몬</td>
              <td><span class="color-success">150,000원</span></td>
              <td><span class="color-success">환불완료</span></td>
              <td><span  class="color-default">shpark 17.05.31 10:30</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>
