<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">주문관리</a>
      </li>
      <li class="active">주문등록</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        주문 등록
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">
              주문번호
              <a href="" class="color-primary"><i class="fa fa-plus-circle"></i></a>
            </label>
            <div class="col-sm-6">
              <input class="form-control" type="text" id="form-field-2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">구매자</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" id="form-field-2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">연락처</label>
            <div class="col-sm-6">
              <input class="form-control" type="text" id="form-field-2">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">예약상품</label>
            <div class="col-sm-6">
              <div class="input-group col-xs-12">
                <div class="input-group-btn">
                  <div class="dropdown open">
                    <ul class="dropdown-menu">
                      <li>
                        <a href="#" tabindex="-1">장금호[속초항]</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">주문옵션</label>
            <div class="col-sm-8">
              <a class="btn btn-default btn-block btn-white" href="#order-options" role="button" data-toggle="modal">옵션을 선택하세요</a>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">판매/정산 금액</label>
            <div class="col-sm-4">
              <input class="form-control" type="number" id="form-field-2">
            </div>
            <div class="col-sm-4">
              <input class="form-control" type="number" id="form-field-2">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">채널</label>
            <div class="col-sm-8">
              <select class="form-control flat" id="form-field-select-1">
    						<option value="">전체</option>
    						<option value="MA 티켓몬스터">MA 티켓몬스터</option>
    						<option value="TA 11번가">TA 11번가</option>
    					</select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" for="form-field-11">메모</label>
            <div class="col-sm-8">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <div class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="form-field-11">판매자알림&nbsp;<a href="" class="color-primary"><i class="fa fa-plus-circle"></i></a></label>
            <div class="col-sm-8">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="form-field-11">구매자알림&nbsp;<a href="" class="color-primary"><i class="fa fa-plus-circle"></i></a></label>
            <div class="col-sm-8">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-11 col-xs-12 text-right">
        <button class="btn btn-sm">
          <i class="ace-icon fa fa-refresh"></i>
          초기화
        </button>

        <button class="btn btn-sm btn-primary">
          <i class="ace-icon fa fa-check"></i>
          등록
        </button>
      </div>
    </div>

  </div><!-- /.page-content -->
</div>

<div id="order-options" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header no-border">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  			</div>
  			<div class="modal-body">
          <div class="row">
            <div class="col-sm-10 col-xs-10" id="options">
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-3 col-xs-3 control-label">이용일</label>
                  <div class="col-sm-8">
                    <input class="form-control datepicker" type="text" >
                  </div>
                </div>
                <div class="form-group" id="options0">
                </div>
                <div class="form-group" id="options1">
                </div>
                <div class="form-group" id="options2">
                </div>
                <div class="form-group" id="options3">
                </div>
              </div>
            </div>
          </div>
          <hr>

          <hr>
          <div class="row">
            <div class="col-sm-12">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="radio col-sm-offset-4 col-sm-12">
                <label class="col-sm-4">
                  <input name="form-field-radio" type="radio" class="ace" checked="">
                  <span class="lbl color-danger">처리대기</span>
                </label>
                <label class="col-sm-4">
                  <input name="form-field-radio" type="radio" class="ace">
                  <span class="lbl color-success">처리완료</span>
                </label>
              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12">
            <div class="col-sm-6 text-left">
              <button class="btn btn-sm btn-danger">
      					<i class="ace-icon fa fa-trash"></i>
      					취소처리
      				</button>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-sm" data-dismiss="modal">
      					<i class="ace-icon fa fa-times"></i>
      					닫기
      				</button>

      				<button class="btn btn-sm btn-primary">
      					<i class="ace-icon fa fa-check"></i>
      					저장
      				</button>
            </div>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
