<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>주문관리
      </li>
      <li>
        <a href="#">주문목록</a>
      </li>
      <li class="active">주문상세</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        주문상세
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          주문번호 1234123123412
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form name="add-new-business">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="form-horizontal" role="form">
                <div class="form-group col-sm-12 col-xs-12">
                  <div class="col-sm-6 no-padding">
                    <label class="col-sm-3">주문번호</label>
                    <label class="col-sm-9"><span class="color-primary">1234123444</span></label>
                  </div>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">예약상품</label>
                  <label class="col-sm-9"><span class="color-primary">장금호[전촌항]</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">이용일</label>
                  <label class="col-sm-9"><span class="color-primary">17.06.31 (07:00~08:00)</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">예약자</label>
                  <label class="col-sm-9"><span class="color-primary">예약자1</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">연락처</label>
                  <label class="col-sm-9">
                    <span class="color-primary">010-1234-1234</span>
                    <a target="_blank" href="/message/MessageList" class="pull-right"><i class="fa fa-envelope"></i>&nbsp;(5)</a>
                  </label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">구매처</label>
                  <label class="col-sm-9"><span class="color-primary">MA 티켓몬스터</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">결제여부</label>
                  <label class="col-sm-9"><span class="color-success">결제완료</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">예약상태</label>
                  <label class="col-sm-9">
                    <select class="col-sm-6 flat warning status-select">
          						<option data-parent="warning" value="예약대기">예약대기</option>
          						<option data-parent="success" value="예약완료">예약완료</option>
                      <option data-parent="danger" value="예약취소">예약취소</option>
          					</select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <hr>
  				<div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
              <table class="table no-border no-margin">
                <tbody>
                  <tr>
                    <td>2017.06.01 | (07:00~08:00) | 대인</td>
                    <td class="text-right">1개</td>
                  </tr>
                  <tr>
                    <td>2017.06.01 | (07:00~08:00) | 소인</td>
                    <td class="text-right">2개</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12 text-right">
              <h4>총 금액&nbsp;&nbsp;&nbsp;<span class="color-primary">150,000</span>원</h4>
            </div>
  				</div>
          <hr>
          <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-11">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="1"></textarea>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-sm btn-primary btn-block">
                <i class="ace-icon fa fa-plus"></i>메모
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-11">
              <div class="alert alert-info display-table">
                <div class="col-sm-10 col-xs-9">
                  You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!
                </div>
                <div class="col-sm-2 col-xs-3 text-right">
                  <span class="color-default">shpark 17.05.31</span>
                </div>
              </div>

              <div class="alert alert-info display-table">
                <div class="col-sm-10 col-xs-9">
                  You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!
                </div>
                <div class="col-sm-2 col-xs-3 text-right">
                  <span class="color-default">shpark 17.05.31</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div><!-- /.page-content -->
</div>
