<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">주문관리</a>
      </li>
      <li class="active">주문 조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        주문 조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)개의 주문이 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left">
          <select class="form-control flat status-select">
						<option data-parent="default" value="">전체</option>
						<option data-parent="warning" value="예약대기">예약대기</option>
						<option data-parent="success" value="예약완료">예약완료</option>
            <option data-parent="danger" value="예약취소">예약취소</option>
					</select>
				</div>
        <div class="col-md-6 col-sm-6 col-xs-6 input-group">
          <input type="text" class="form-control" placeholder="고객명,연락처,상품명,주문번호">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <%# <div class="col-md-2 col-sm-2 col-xs-2 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-seller" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>%>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <col width=""/>
          <col width=""/>
          <col width=""/>
          <col width=""/>
          <col width=""/>
          <col width="30%"/>
          <col width=""/>
          <col width=""/>
          <col width=""/>
          <thead>
            <tr>
              <th>순번</th>
              <th>예약자명</th>
              <th>연락처</th>
              <th>구매상품</th>
              <th>구매처</th>
              <th>메모</th>
              <th>결제여부</th>
              <th>처리상태</th>
              <th>최근수정</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="location.href='/order/OrderDetail'">
              <td>1</td>
              <td>예약자1</td>
              <td>010-1234-1234</td>
              <td>장금호[전촌항]</td>
              <td>MA티몬</td>
              <td class="ellipsis" style="max-width:150px;">선장님이 출항불가능하다 하심선장님이 출항불가능하다 하심선장님이 출항불가능하다 하심선장님이 출항불가능하다 하심선장님이 출항불가능하다 하심</td>
              <td><span class="color-success"><i class="fa fa-won"></i></span></td>
              <td><span class="color-success"><i class="fa fa-check"></i></span></td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="order-options" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header no-border">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  			</div>
  			<div class="modal-body">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-12"> 주문번호 : <span class="color-primary">1234123444</span> </label>
                </div>
                <div class="form-group">
                  <label class="col-sm-6"> 예약상품 : <span class="color-primary">장금호[전촌항]</span></label>
                  <label class="col-sm-6"> 이용일 : <span class="color-primary">2017.05.31 | (07:00~12:00)</span></label>
                </div>
                <div class="form-group">
                  <label class="col-sm-6">예약자 : <span class="color-primary">예약자1</span></label>
                  <label class="col-sm-6">연락처 : <span class="color-primary">010-1234-1234</span></label>
                </div>
                <div class="form-group">
                  <label class="col-sm-6">구매처 : <span class="color-primary">MA티몬</label>
                  <label class="col-sm-6">결제여부 : <span class="color-success">결제완료</span></label>
                </div>
              </div>
            </div>
          </div>
          <hr>
  				<div class="row">
            <div class="col-sm-12">
              <table class="table no-border no-margin">
                <tbody>
                  <tr>
                    <td>2017.06.01 | (07:00~08:00) | 대인</td>
                    <td>1개</td>
                  </tr>
                  <tr>
                    <td>2017.06.01 | (07:00~08:00) | 소인</td>
                    <td>2개</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-12 text-right" style="padding-right:50px;">
              <h4>총 금액&nbsp;&nbsp;&nbsp;<span class="color-primary">150,000</span>원</h4>
            </div>
  				</div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="radio col-sm-offset-4 col-sm-12">
                <label class="col-sm-4">
                  <input name="form-field-radio" type="radio" class="ace" checked="">
                  <span class="lbl color-danger">처리대기</span>
                </label>
                <label class="col-sm-4">
                  <input name="form-field-radio" type="radio" class="ace">
                  <span class="lbl color-success">처리완료</span>
                </label>
              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12">
            <div class="col-sm-6 text-left">
              <button class="btn btn-sm btn-danger">
      					<i class="ace-icon fa fa-trash"></i>
      					취소처리
      				</button>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-sm" data-dismiss="modal">
      					<i class="ace-icon fa fa-times"></i>
      					닫기
      				</button>

      				<button class="btn btn-sm btn-primary">
      					<i class="ace-icon fa fa-check"></i>
      					저장
      				</button>
            </div>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
