<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">정산관리</a>
      </li>
      <li class="active">정산내역조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        발송목록조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)개의 메세지가 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="col-md-3 col-sm-3 col-xs-4 no-padding-left">
            <select class="form-control flat" id="form-field-select-1">
  						<option value="">전체</option>
  						<option value="정산대기">정산대기</option>
  						<option value="정산완료">정산완료</option>
  					</select>
  				</div>
          <div class="col-md-3 col-sm-3 col-xs-4">
            <input type="text" class="form-control datepicker" placeholder="시작일">
          </div>
          <div class="col-md-3 col-sm-3 col-xs-4">
            <input type="text" class="form-control datepicker" placeholder="종료일">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 input-group">
          <input type="text" class="form-control" placeholder="상품명,판매자연락처,">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>상품명</th>
              <th>판매자</th>
              <th>이용일</th>
              <th>구매자</th>
              <th>구매자연락처</th>
              <th>판매가격</th>
              <th>입금가격</th>
              <th>수수료</th>
              <th>처리상태</th>
              <th>최종수정</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>장금호[속초항]</td>
              <td style="position:relative;">
                <a href="#" data-action="settings" data-toggle="dropdown" aria-expanded="false">
                  장금호&nbsp;<i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-light-blue dropdown-caret">
                  <li>
                    <a data-toggle="tab" href="javascript:;">010-1234-1234</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a data-toggle="tab" href="javascript:;">판매자바로가기</a>
                  </li>
                </ul>
              </td>
              <td>17.05.31</td>
              <td>곽창숙</td>
              <td>010-1234-1234</td>
              <td>90,000</td>
              <td>76,500</td>
              <td>9,000</td>
              <td><span class="color-success"><i class="fa fa-check"></i></span></td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="message-detail" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">1544-4991&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;&nbsp;010-1234-1234</h4>
  			</div>
  			<div class="modal-body">
          <div class="row">
            <div class=col-sm-12>
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right">타이틀</label>
                  <div class="col-sm-10">
                    <input class="col-sm-10" type="text" value="마도로스 예약요청 내역입니다.">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right">내용</label>
                  <div class="col-sm-10">
                    <textarea class="autosize-transition col-sm-10"  id="form-field-11" rows="10">
안녕하세요. 마도로스 선장님.
마도로스를 통해 마도로스에 예약요청이 되었습니다.
 ■ 문의날짜 : 2017년 05월 21(일요일)
   - 출항시간 : 07시 30분 - 회항시간 : 12시 30분
 ■ 구매자 : 박찬권
 ■ 인원 : 대인 4명 / 소인 4명
 ■ 판매금액 : 280,000원
출항이 어려우신 경우 , 1544-4991로 연락주십시오.
출항이 가능하시거나 연락이 없으신 경우 출항확정으로 고객에게 안내하도록 하겠습니다.
* 마도로스 : 1544-4991 마도로스는 선장님의 매출향상을 위해 더욱 열심히 노력하겠습니다.
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="ace-icon fa fa-times"></i>
              닫기
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="ace-icon fa fa-send"></i>
              재발송
            </button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
