<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>옵션컨트롤러</title>
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/dist/base-style.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-extend.css" />
    <link rel="stylesheet" href="/iframes/css/HistoryList.css" />

		<%# <script src="https://unpkg.com/vue/dist/vue.js"></script>%>
	</head>

	<body>
			<div class="msg-list-section">
				<div class="col-sm-12">
					<div class="alert alert-block alert-info display-table">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						<p>
							<span class="color-default">shpark 17.05.31</span>
						</p>
						<p>							
							You successfully read this important alert message.
							You successfully read this important alert message.
							You successfully read this important alert message.
							You successfully read this important alert message.
						</p>
					</div>


				</div>
			</div>
			<div class="msg-input-section">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-11 col-sm-10 col-xs-10">
						<textarea class="autosize-transition form-control" rows="1"></textarea>
					</div>
					<div class="col-md-1 col-sm-2 col-xs-2">
						<button class="btn btn-sm btn-primary">
							<i class="ace-icon fa fa-plus"></i>
							추가
						</button>
					</div>
				</div>
			</div>
    <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>%>
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/dist/base-js.min.js"></script>
		<script src="/assets/js/ace-extend.js"></script>
    <script src="/iframes/js/HistoryList.js"></script>

	</body>
</html>
