<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>주소검색</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <%# <script src="https://unpkg.com/vue/dist/vue.js"></script>%>
    <link rel="stylesheet" href="/dist/base-style.min.css" />
    <style>

    html,body{
      width: 100%;
      height: 100%;
      background-color: white;
    }
    </style>
  </head>

  <body>

    <iframe src="/utils/todolist" style="width:100%; height:100%;">

    </iframe>

    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/dist/base-js.min.js"></script>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=feee9c5bc8f6b5dac07f5af9b633c56f&libraries=services"></script>
    <script>
      function mapviewListener(addr, lat, lon){
        console.log(addr);
        console.log(lat);
        console.log(lon);
      }
    </script>
  </body>
</html>
