<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>주소검색</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/dist/base-style.min.css" />
    <link rel="stylesheet" href="/iframes/css/Mapview.css" />
  </head>

  <body>
    <div class="address-finder">
      <div class="col-sm-12 no-padding" style="height:100%;">
        <form>
          <div class="input-group col-sm-12">
            <input type="text" name="address" class="form-control" placeholder="위치입력">
            <span class="input-group-btn info">
              <button class="btn btn-sm btn-info btn-search" type="button" onclick="mapView.searchAddr2Coord(this.form.address.value);"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </form>
        <%if(lat && lon){%>
          <div class="map-container" id="mapContainer" data-lat="<%= lat %>" data-lon="<%= lon %>" style="width:100%; height:calc(100%-34);"></div>
        <%}else{%>
          <div class="map-container" id="mapContainer" data-lat="37.56682420267543" data-lon="126.978652258823" style="width:100%; height:calc(100%-34);"></div>
        <%}%>

        <div class="addr-container" id="addrContainer">
          <div class="col-md-offset-3 col-md-9 col-sm-offset-2 col-sm-10 col-xs-12">
            <div class="col-sm-3 col-xs-3"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;지번주소</div>
            <div class="col-sm-9 col-xs-9"><a id="jibun" href="#"></a></div>
          </div>
          <div class="col-md-offset-3 col-md-9 col-sm-offset-2 col-sm-10 col-xs-12">
            <div class="col-sm-3 col-xs-3"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;도로명주소</div>
            <div class="col-sm-9 col-xs-9"><a id="road" href="#"></a></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/dist/base-js.min.js"></script>
    <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=feee9c5bc8f6b5dac07f5af9b633c56f&libraries=services"></script>
    <script type="text/javascript" src="/iframes/js/Mapview.js"></script>
  </body>
</html>
