<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>옵션컨트롤러</title>
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/dist/base-style.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-extend.css" />
    <link rel="stylesheet" href="/iframes/css/Options.css" />

		<%# <script src="https://unpkg.com/vue/dist/vue.js"></script>%>
	</head>

	<body>
    <div class="container">
			<div class="row">
				<h3 class="header smaller lighter blue text-center">
					상품옵션 선택
				</h3>
			</div>
			<div class="row">
				<div class="col-sm-12 col-xs-12">
					<div class="col-sm-12 col-xs-12 text-right">
						<span class="label label-lg label-success arrowed-in-right arrowed">기본가 40,000원</span>
						<span class="label label-lg label-danger arrowed-in-right arrowed">공휴일 10,000원 추가</span>
						<span class="label label-lg label-info arrowed-in-right arrowed">주중 10,000원 할인</span>
					</div>
				</div>
			</div>
			<hr>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form class="form-horizontal" role="form" name="optionsForm" id="optionsForm">
            <div class="form-group" data-scope-idx="-1">
              <label class="col-sm-3 col-xs-3 control-label">이용일선택</label>
              <div class="col-sm-8 col-xs-8">
                <input class="form-control datepicker" name="use_date" type="text" placeholder="이용날짜를 선택해주세요.">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12" id="selectOptionsArea">

        </div>
      </div>
			<hr>
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="form-horizontal" id="priceArea">
            <div class="form-group">
              <label class="col-sm-7 col-xs-8 control-label total-price-label">총 금액</label>
              <label class="col-sm-3 col-xs-4 control-label total-price-value">0원</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>%>
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/dist/base-js.min.js"></script>
		<script src="/assets/js/ace-extend.js"></script>
    <script src="/iframes/js/Options.js"></script>

	</body>
</html>
