<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>MADOROSS Admin</title>
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/dist/base-style.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-extend.css" />
    <link rel="stylesheet" href="/assets/css/fullcalendar.min.css" />
		<%# <script src="https://unpkg.com/vue/dist/vue.js"></script>%>
	</head>

	<body style="background-color:white;">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="calendar"></div>
      </div>
    </div>

    <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>%>
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/dist/base-js.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/fullcalendar.min.js"></script>
    <script src="/assets/js/lang-ko.js"></script>
		<script src="/assets/js/ace-extend.js"></script>
    <script>
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();


    var calendar = $('#calendar').fullCalendar({
      lang : 'ko',
      //isRTL: true,
       buttonHtml: {
        prev: '<i class="ace-icon fa fa-chevron-left"></i>',
        next: '<i class="ace-icon fa fa-chevron-right"></i>'
      },

      header: {
        left: 'prev,next today',
        center: 'title'
        // right: 'month,agendaWeek,agendaDay'
      },
      events: [
        {
        title: 'All Day Event',
        start: new Date(y, m, 1),
        className: 'label-important'
        },
        {
        title: 'Long Event',
        start: moment().subtract(5, 'days').format('YYYY-MM-DD'),
        end: moment().subtract(1, 'days').format('YYYY-MM-DD'),
        className: 'label-success'
        },
        {
        title: 'Some Event',
        start: new Date(y, m, d-3, 16, 0),
        allDay: false,
        className: 'label-info'
        }
      ]
      ,
      editable: false,
      droppable: false, // this allows things to be dropped onto the calendar !!!
      // drop: function(date, allDay) { // this function is called when something is dropped
      //
      //   // retrieve the dropped element's stored Event Object
      //   var originalEventObject = $(this).data('eventObject');
      //   var $extraEventClass = $(this).attr('data-class');
      //
      //
      //   // we need to copy it, so that multiple events don't have a reference to the same object
      //   var copiedEventObject = $.extend({}, originalEventObject);
      //
      //   // assign it the date that was reported
      //   copiedEventObject.start = date;
      //   copiedEventObject.allDay = allDay;
      //   if($extraEventClass) copiedEventObject['className'] = [$extraEventClass];
      //
      //   // render the event on the calendar
      //   // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
      //   $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
      //
      //   // is the "remove after drop" checkbox checked?
      //   if ($('#drop-remove').is(':checked')) {
      //     // if so, remove the element from the "Draggable Events" list
      //     $(this).remove();
      //   }
      //
      // }
      // ,
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        var sdt = start['_d'];
        var year = sdt.getFullYear();
        var month = sdt.getMonth()+1;
        var date  = sdt.getDate();

        console.log(year,month,date);

        var fullDt = year+'.'+month+'.'+date;

        var modalHtml =
        '<div class="modal fade">\
          <div class="modal-dialog" style="height:90%;">\
           <div class="modal-content" style="height:100%;">\
           <div class="modal-header no-padding-top no-padding-bottom">\
           <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
           <h4 class="blue">'+fullDt+'</h4>\
           </div>\
           <div class="modal-body">\
             <form class="no-margin">\
             <select class="form-control flat">\
               <option value="1항차(07:00~08:00)">1항차(07:00~08:00)</option>\
               <option value="2항차(12:00~18:00)">2항차(12:00~18:00)</option>\
             </select>\
             </form>\
           </div>\
           <div class="modal-footer">\
            <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Delete Event</button>\
            <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
           </div>\
          </div>\
         </div>\
        </div>';


        var modal = $(modalHtml).appendTo('body');
        modal.find('form').on('submit', function(ev){
          ev.preventDefault();

          calEvent.title = $(this).find("input[type=text]").val();
          calendar.fullCalendar('updateEvent', calEvent);
          modal.modal("hide");
        });
        modal.find('button[data-action=delete]').on('click', function() {
          calendar.fullCalendar('removeEvents' , function(ev){
            return (ev._id == calEvent._id);
          })
          modal.modal("hide");
        });

        modal.modal('show').on('hidden', function(){
          modal.remove();
        });


        calendar.fullCalendar('unselect');
      }
      ,
      eventClick: function(calEvent, jsEvent, view) {

        //display a modal
        var modalHtml =
        '<div class="modal fade">\
          <div class="modal-dialog">\
           <div class="modal-content">\
           <div class="modal-body">\
             <button type="button" class="close" data-dismiss="modal" style="margin-top:-10px;">&times;</button>\
             <form class="no-margin">\
              <label>Change event name &nbsp;</label>\
              <input class="middle" autocomplete="off" type="text" value="' + calEvent.title + '" />\
             <button type="submit" class="btn btn-sm btn-success"><i class="ace-icon fa fa-check"></i> Save</button>\
             </form>\
           </div>\
           <div class="modal-footer">\
            <button type="button" class="btn btn-sm btn-danger" data-action="delete"><i class="ace-icon fa fa-trash-o"></i> Delete Event</button>\
            <button type="button" class="btn btn-sm" data-dismiss="modal"><i class="ace-icon fa fa-times"></i> Cancel</button>\
           </div>\
          </div>\
         </div>\
        </div>';


        var modal = $(modalHtml).appendTo('body');
        modal.find('form').on('submit', function(ev){
          ev.preventDefault();

          calEvent.title = $(this).find("input[type=text]").val();
          calendar.fullCalendar('updateEvent', calEvent);
          modal.modal("hide");
        });
        modal.find('button[data-action=delete]').on('click', function() {
          calendar.fullCalendar('removeEvents' , function(ev){
            return (ev._id == calEvent._id);
          })
          modal.modal("hide");
        });

        modal.modal('show').on('hidden', function(){
          modal.remove();
        });


        //console.log(calEvent.id);
        //console.log(jsEvent);
        //console.log(view);

        // change the border color just for fun
        //$(this).css('border-color', 'red');

      }

    });
    </script>
	</body>
</html>
