<div class="row">
  <div id="modal-counseling" class="modal" tabindex="-1">
  	<div class="modal-dialog" style="height:500px;">
  		<div class="modal-content" style="height:100%;">        
        <iframe src="/utils/todolist" style="width:100%; height:100%;"></iframe>
  		</div>
  	</div>
  </div><!-- PAGE CONTENT ENDS -->
</div>
