<div id="sidebar" class="sidebar responsive">

  <%# <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <button class="btn btn-success">
        <i class="ace-icon fa fa-signal"></i>
      </button>

      <button class="btn btn-info">
        <i class="ace-icon fa fa-pencil"></i>
      </button>

      <button class="btn btn-warning">
        <i class="ace-icon fa fa-users"></i>
      </button>

      <button class="btn btn-danger">
        <i class="ace-icon fa fa-cogs"></i>
      </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!-- /.sidebar-shortcuts -->%>

  <ul class="nav nav-list">
    <li class="active">
      <a href="index.html">
        <i class="menu-icon fa fa-home"></i>
        <span class="menu-text"> 홈 </span>
      </a>

      <b class="arrow"></b>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-line-chart"></i>
        <span class="menu-text"> 영업관리 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        <li class="">
          <a href="/business/List">
            <i class="menu-icon fa fa-caret-right"></i>
            영업상품목록
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-th-list"></i>
        <span class="menu-text"> 채널 상품관리 </span>

        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        <li class="">
          <a href="/channel/ChannelList">
            <i class="menu-icon fa fa-caret-right"></i>
            채널별 상품판매현황
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/channel/ProductChannelList">
            <i class="menu-icon fa fa-caret-right"></i>
            상품별 채널판매현황
          </a>
          <b class="arrow"></b>
        </li>
        <%# <li class="">
          <a href="form-elements.html">
            <i class="menu-icon fa fa-caret-right"></i>
            신규등록
          </a>
          <b class="arrow"></b>
        </li>%>
      </ul>
    </li>


    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-database"></i>
        <span class="menu-text">상품 데이터관리 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>

      <b class="arrow"></b>

      <ul class="submenu">
        <li class="">
          <a href="/product/SellerList">
            <i class="menu-icon fa fa-caret-right"></i>
            판매자조회
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/product/PortList">
            <i class="menu-icon fa fa-caret-right"></i>
            항구조회(배낚시전용)
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/product/ProductList">
            <i class="menu-icon fa fa-caret-right"></i>
            상품 조회
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-calendar"></i>
        <span class="menu-text">상품 스케쥴관리 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/schedule/ScheduleList">
            <i class="menu-icon fa fa-caret-right"></i>
            스케쥴조회
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-gift"></i>
        <span class="menu-text">이벤트관리</span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/event/EventList">
            <i class="menu-icon fa fa-caret-right"></i>
            이벤트목록
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/order/OrderAdd">
            <i class="menu-icon fa fa-caret-right"></i>
            쿠폰목록
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-users"></i>
        <span class="menu-text">주문관리 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/order/OrderList">
            <i class="menu-icon fa fa-caret-right"></i>
            주문내역조회
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/order/OrderAdd">
            <i class="menu-icon fa fa-caret-right"></i>
            주문생성
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/order/OrderCancelList">
            <i class="menu-icon fa fa-caret-right"></i>
            취소내역조회
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-commenting"></i>
        <span class="menu-text">상담관리</span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/consult/ProductConsult">
            <i class="menu-icon fa fa-caret-right"></i>
            상품문의내역
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/consult/ReservConsult">
            <i class="menu-icon fa fa-caret-right"></i>
            확정확인내역
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/consult/ScheduleConsult">
            <i class="menu-icon fa fa-caret-right"></i>
            일정상담내역
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-envelope"></i>
        <span class="menu-text">메세지관리 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/message/MessageList">
            <i class="menu-icon fa fa-caret-right"></i>
            발송목록조회
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/message/MessageSend">
            <i class="menu-icon fa fa-caret-right"></i>
            신규발송
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-won"></i>
        <span class="menu-text">정산관리 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/account/AccountList">
            <i class="menu-icon fa fa-caret-right"></i>
            정산조회
          </a>
          <b class="arrow"></b>
        </li>
        <li class="">
          <a href="/message/MessageSend">
            <i class="menu-icon fa fa-caret-right"></i>
            신규발송
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

    <li class="">
      <a href="#" class="dropdown-toggle">
        <i class="menu-icon fa fa-bar-chart"></i>
        <span class="menu-text">통계 </span>
        <b class="arrow fa fa-angle-down"></b>
      </a>
      <b class="arrow"></b>
      <ul class="submenu">
        <li class="">
          <a href="/chart/Chart">
            <i class="menu-icon fa fa-caret-right"></i>
            통계조회
          </a>
          <b class="arrow"></b>
        </li>
      </ul>
    </li>

  </ul><!-- /.nav-list -->

  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>

</div>
