<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">메세지관리</a>
      </li>
      <li class="active">신규발송</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        신규발송
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">발신/수신 번호</label>
            <div class="col-sm-3">
              <input class="form-control" type="text" id="form-field-2">
            </div>
            <div class="col-sm-1">
              <label class="col-sm-2 control-label"><i class="fa fa-arrow-right blue"></i></label>
            </div>
            <div class="col-sm-3">
              <input class="form-control" type="text" id="form-field-2">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right">타이틀</label>
            <div class="col-sm-8">
              <input class="form-control" type="text" id="form-field-2">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="form-field-11">내용</label>
            <div class="col-sm-8">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-10 col-xs-10 text-right">
        <button class="btn btn-sm">
          <i class="ace-icon fa fa-refresh"></i>
          초기화
        </button>

        <button class="btn btn-sm btn-primary">
          <i class="ace-icon fa fa-check"></i>
          발송
        </button>
      </div>
    </div>

  </div><!-- /.page-content -->
</div>
