<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">메세지관리</a>
      </li>
      <li class="active">발송목록조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        발송목록조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)개의 메세지가 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left">
          <select class="form-control flat" id="form-field-select-1">
						<option value="">전체</option>
						<option value="발송실패">발송실패</option>
						<option value="발송완료">발송완료</option>
					</select>
				</div>
        <div class="col-md-6 col-sm-6 col-xs-6 input-group">
          <input type="text" class="form-control" placeholder="그룹아이디,수신자번호,발신자번호">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <%# <div class="col-md-2 col-sm-2 col-xs-2 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-seller" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>%>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>구분</th>
              <th>그룹아이디</th>
              <th>수신번호</th>
              <th>발신번호</th>
              <th>타이틀</th>
              <th>발송상태</th>
              <th>발송인</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="$('#message-detail').modal('show');">
              <td>1</td>
              <td>LMS</td>
              <td>1233215143</td>
              <td>010-1234-1234</td>
              <td>1544-4991</td>
              <td>마도로스 예약요청 내역입니다.</td>
              <td><span class="color-success"><i class="fa fa-check"></i></span></td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
            <tr onclick="$('#message-detail').modal('show');">
              <td>2</td>
              <td>LMS</td>
              <td>1233215143</td>
              <td>010-1234-1234</td>
              <td>1544-4991</td>
              <td>마도로스 예약요청 내역입니다.</td>
              <td><span class="color-danger"><i class="fa fa-times"></i></span></td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="message-detail" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="blue bigger">1544-4991&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;&nbsp;010-1234-1234</h4>
  			</div>
  			<div class="modal-body">
          <div class="row">
            <div class=col-sm-12>
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right">타이틀</label>
                  <div class="col-sm-10">
                    <input class="col-sm-10" type="text" value="마도로스 예약요청 내역입니다.">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right">내용</label>
                  <div class="col-sm-10">
                    <textarea class="col-sm-10"  id="form-field-11" rows="10">
안녕하세요. 마도로스 선장님.
마도로스를 통해 마도로스에 예약요청이 되었습니다.
 ■ 문의날짜 : 2017년 05월 21(일요일)
   - 출항시간 : 07시 30분 - 회항시간 : 12시 30분
 ■ 구매자 : 박찬권
 ■ 인원 : 대인 4명 / 소인 4명
 ■ 판매금액 : 280,000원
출항이 어려우신 경우 , 1544-4991로 연락주십시오.
출항이 가능하시거나 연락이 없으신 경우 출항확정으로 고객에게 안내하도록 하겠습니다.
* 마도로스 : 1544-4991 마도로스는 선장님의 매출향상을 위해 더욱 열심히 노력하겠습니다.
                    </textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="ace-icon fa fa-times"></i>
              닫기
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="ace-icon fa fa-send"></i>
              재발송
            </button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
