<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>MADOROSS Admin</title>
		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/dist/base-style.min.css" />
		<link rel="stylesheet" href="/assets/css/ace-extend.css" />

		<%# <script src="https://unpkg.com/vue/dist/vue.js"></script>%>
	</head>

	<body class="no-skin">
    <div id="app">
  		<%- include ./components/Navibar.ejs %>

  		<div class="main-container" id="main-container">
        <%- include ./components/Sidebar.ejs %>
  			<div class="main-content">
          <%
            var renderViewPath = './'+view;
            var entryName = view.replace(/pages\//, '');
          %>
      		<%- include(renderViewPath) %>
        </div>
        <%- include ./components/Footer.ejs %>
				<%- include ./components/Modal.ejs %>
  		</div><!-- /.main-container -->
    </div>

    <%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>%>
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/dist/base-js.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
		<script src="/plugins/chart/js/util.js"></script>
		<script src="/assets/js/ace-extend.js"></script>
    <script src="/javascripts/<%= view %>.js"></script>

	</body>
</html>
