<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 스케쥴관리</a>
      </li>
      <li class="active">스케쥴 조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        스케쥴 조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)개의 스케쥴이 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-offset-3 col-md-3 col-sm-offset-3 col-sm-3 col-xs-3 no-padding-left">
        <select class="form-control flat default status-select" id="form-field-select-1">
          <option data-parent="default" value="">전체</option>
          <option data-parent="warning" value="승인대기">승인대기</option>
          <option data-parent="warning" value="승인완료">승인완료</option>
          <option data-parent="danger" value="승인취소">승인취소</option>
        </select>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="input-group search-group col-sm-12">
          <div class="input-group-btn">
            <div class="dropdown open">
              <ul class="dropdown-menu">
                <li>
                  <a href="#" tabindex="-1">진선장1234</a>
                </li>
              </ul>
            </div>
          </div>
          <input type="text" class="form-control" placeholder="상품명">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <%# <div class="col-md-2 col-sm-2 col-xs-2 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-seller" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>%>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>상품명</th>
              <th>이용일</th>
              <th>이용시간</th>
              <th>승인여부</th>
              <th>최소인원/예약인원</th>
              <th>확정인원/취소인원</th>
              <th>총금액</th>
              <th>최근수정</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="location.href='/schedule/ScheduleDetail'">
              <td>1</td>
              <td>장금호[전촌항]</td>
              <td>17.06.31</td>
              <td>07:00~08:00</td>
              <td><span class="color-danger">승인취소</span></td>
              <td>4&nbsp;/&nbsp;10</td>
              <td><span class="color-success">18</span>&nbsp;/&nbsp;<span class="color-danger">6</span></td>
              <td>180,000원</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
            <tr onclick="location.href='/schedule/ScheduleDetail'">
              <td>2</td>
              <td>장금호[전촌항]</td>
              <td>17.06.31</td>
              <td>07:00~08:00</td>
              <td><span class="color-success">승인완료</span></td>
              <td>4&nbsp;/&nbsp;10</td>
              <td><span class="color-success">18</span>&nbsp;/&nbsp;<span class="color-danger">6</span></td>
              <td>180,000원</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
            <tr onclick="location.href='/schedule/ScheduleDetail'">
              <td>3</td>
              <td>장금호[전촌항]</td>
              <td>17.06.31</td>
              <td>07:00~08:00</td>
              <td><span class="color-warning">승인대기</span></td>
              <td>4&nbsp;/&nbsp;10</td>
              <td><span class="color-success">18</span>&nbsp;/&nbsp;<span class="color-danger">6</span></td>
              <td>180,000원</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="schedule-detail" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header" style="padding-bottom:5px;">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">
            장금호[속초항] 17.05.31(07:00~08:00)
          </h4>
          <p class="color-primary no-margin text-right">
            <span><i class="fa fa-user"></i>&nbsp;장금호1234</span>&nbsp;&nbsp;&nbsp;
            <span><i class="fa fa-phone"></i>&nbsp;010-1234-1234</span>&nbsp;&nbsp;&nbsp;
            <span><a href="" class="color-primary"><i class="fa fa-envelope"></i>&nbsp;(5)</a></span>
          </p>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="col-sm-12">
              <table class="table no-border no-margin">
                <tbody>
                  <tr>
                    <td>12313413413</td>
                    <td>예약자1</td>
                    <td>010-1234-1234</td>
                    <td>3개</td>
                    <td><span class="color-success"><i class="fa fa-won"></i></span></td>
                    <td>17.06.20</td>
                  </tr>
                  <tr>
                    <td>12313413413</td>
                    <td>예약자2</td>
                    <td>010-1234-1234</td>
                    <td>3개</td>
                    <td><span class="color-default"><i class="fa fa-won"></i></span></td>
                    <td>17.06.20</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-12 text-right" style="padding-right:50px;">
              <h4>총 예약인원&nbsp;&nbsp;&nbsp;6명</h4>
            </div>
  				</div>
          <hr>
          <div class="row">
            <div class="col-sm-12">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="7"></textarea>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12">
            <div class="col-sm-6">
              <select class="form-control flat" id="form-field-select-1">
    						<option value="승인대기">승인대기</option>
    						<option value="승인완료">승인완료</option>
                <option value="승인취소">승인취소</option>
    					</select>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-sm" data-dismiss="modal">
      					<i class="ace-icon fa fa-times"></i>
      					닫기
      				</button>

      				<button class="btn btn-sm btn-primary">
      					<i class="ace-icon fa fa-check"></i>
      					저장
      				</button>
            </div>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
