<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-th-list"></i>
          상품 스케쥴관리
        </a>
      </li>
      <li class="active">
        <a href="#">[전촌항]장금호 17.06.30</a>
      </li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h4 class="color-primary">
        [전촌항]장금호
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          17.06.31 (07:00~08:00)
        </small>
      </h4>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form name="add-new-business">
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="form-horizontal" role="form">
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">예약상품</label>
                  <label class="col-sm-9"><span class="color-primary">[전촌항]장금호</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">이용일</label>
                  <label class="col-sm-9"><span class="color-primary">17.06.31 (07:00~08:00)</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">판매자</label>
                  <label class="col-sm-9"><span class="color-primary">장금호1234</span></label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">연락처</label>
                  <label class="col-sm-9">
                    <span class="color-primary">010-1234-1234</span>
                    <a target="_blank" href="/message/MessageList" class="pull-right"><i class="fa fa-envelope"></i>&nbsp;(5)</a>
                  </label>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <label class="col-sm-3">출항여부</label>
                  <label class="col-sm-9">
                    <select class="col-sm-6 flat warning status-select">
          						<option data-parent="warning" value="승인대기">승인대기</option>
          						<option data-parent="success" value="승인완료">승인완료</option>
                      <option data-parent="danger" value="승인취소">승인취소</option>
          					</select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <hr>
  				<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <h3 class="header smaller blue">
                예약자 명단
                <a href="#notify" class="pull-right" data-toggle="modal"><i class="fa fa-bell"></i></a>
              </h3>
              <table class="table table-hover no-border no-margin state-row">
                <tbody>
                  <tr class="success">
                    <td>MA 티켓몬스터</td>
                    <td>MDO-234112351</td>
                    <td>서강민</td>
                    <td>010-1234-1234</td>
                    <td>대인&nbsp;4명/소인&nbsp;2명</td>
                    <td>총 6명</td>
                    <td>60,000원</td>
                    <td><span class="color-success">결제완료</span></td>
                  </tr>
                  <tr class="danger">
                    <td>MA 티켓몬스터</td>
                    <td>MDO-234112351</td>
                    <td>서강민</td>
                    <td>010-1234-1234</td>
                    <td>대인&nbsp;4명/소인&nbsp;2명</td>
                    <td>총 6명</td>
                    <td>60,000원</td>
                    <td><span class="color-danger">결제취소</span></td>
                  </tr>
                  <tr class="success">
                    <td>마도로스 사이트</td>
                    <td>MDO-234112351</td>
                    <td>서강민</td>
                    <td>010-1234-1234</td>
                    <td>대인&nbsp;4명/소인&nbsp;2명</td>
                    <td>총 6명</td>
                    <td>60,000원</td>
                    <td><span class="color-success">결제완료</span></td>
                  </tr>
                  <tr class="success">
                    <td>마도로스 사이트</td>
                    <td>MDO-234112351</td>
                    <td>서강민</td>
                    <td>010-1234-1234</td>
                    <td>대인&nbsp;4명/소인&nbsp;2명</td>
                    <td>총 6명</td>
                    <td>60,000원</td>
                    <td><span class="color-success">결제완료</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 text-right">
              <h4>인원 18명&nbsp;&nbsp;&nbsp;금액&nbsp;&nbsp;&nbsp;<span class="color-primary">180,000</span>원</h4>
            </div>
  				</div>
          <hr>
          <div class="row" style="margin-bottom:20px;">
            <div class="col-sm-11">
              <textarea class="autosize-transition form-control"  id="form-field-11" rows="1"></textarea>
            </div>
            <div class="col-sm-1">
              <button class="btn btn-sm btn-primary btn-block">
                <i class="ace-icon fa fa-plus"></i>메모
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-11">
              <div class="alert alert-info display-table">
                <div class="col-sm-10 col-xs-9">
                  You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!
                </div>
                <div class="col-sm-2 col-xs-3 text-right">
                  <span class="color-default">shpark 17.05.31</span>
                </div>
              </div>

              <div class="alert alert-info display-table">
                <div class="col-sm-10 col-xs-9">
                  You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!You can use any button to toggle sliders!
                </div>
                <div class="col-sm-2 col-xs-3 text-right">
                  <span class="color-default">shpark 17.05.31</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="notify" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
  			<div class="modal-header" style="padding-bottom:5px;">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">
            전체알림
          </h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="col-sm-12">
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right">발신/수신 번호</label>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" id="form-field-2">
                  </div>
                  <div class="col-sm-1">
                    <label class="col-sm-2 control-label"><i class="fa fa-arrow-right blue"></i></label>
                  </div>
                  <div class="col-sm-3">
                    <input class="form-control" type="text" id="form-field-2">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label no-padding-right">타이틀</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" id="form-field-2">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-11">내용</label>
                  <div class="col-sm-8">
                    <textarea class="autosize-transition form-control" id="form-field-11" rows="7" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 152px;"></textarea>
                  </div>
                </div>

              </div>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-10">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="ace-icon fa fa-times"></i>
              닫기
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="ace-icon fa fa-check"></i>
              저장
            </button>
          </div>
  			</div>
		</div>
	</div>
</div>
