<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">채널별 판매상품 현황</a>
      </li>
      <li class="active">채널별 판매상품 현황</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        채널별 판매상품 현황
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
           채널별 판매상품 현황입니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2 text-left">
        <a class="btn btn-sm btn-info" href="#channel-add" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>채널명</th>
              <th>판매중</th>
              <th>판매대기</th>
              <th>판매종료</th>
              <th class="text-center">알림</th>
              <th class="text-center">최근수정</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td style="position:relative;">
                <a href="#" data-action="settings" data-toggle="dropdown" aria-expanded="true">
                  MA 티켓몬스터&nbsp;<i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-light-blue dropdown-caret">
                  <li>
                    <a data-toggle="tab" href="javascript:;"><i class="fa fa-user"></i>&nbsp;madoross01</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="javascript:;"><i class="fa fa-lock"></i>&nbsp;fmania</a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a data-toggle="tab" target="_blank" href="javascript:;"><i class="fa fa-external-link-square"></i>&nbsp;어드민바로가기</a>
                  </li>
                </ul>
              </td>
              <td><span class="color-success">10</span></td>
              <td><span class="color-warning">10</span></td>
              <td><span class="color-danger">5</span></td>
              <td class="text-center"><span class="color-primary">10일내 갱신이 필요한 상품이 있습니다.</span></td>
              <td class="text-center"><span class="color-default">shpark 17.05.31 10:20</span></td>
              <td>
                <div class="btn-toolbar">
                  <div class="btn-group">
										<button class="btn btn-info btn-sm btn-white" onclick="location.href='/channel/ChannelProductList'">상품목록</button>
										<button data-toggle="dropdown" class="btn btn-info btn-sm btn-white dropdown-toggle">
											<span class="ace-icon fa fa-caret-down icon-only"></span>
										</button>
                    <ul class="dropdown-menu dropdown-light-blue">
                      <li>
                        <a href="#" class="color-primary"><i class="fa fa-edit"></i>&nbsp;수정</a>
                      </li>
                      <li>
                        <a href="#" class="color-danger"><i class="fa fa-trash"></i>&nbsp;삭제</a>
                      </li>
                    </ul>
									</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="channel-add" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header no-border">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>채널생성</h4>
  			</div>
  			<div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    채널명
                  </label>
                  <div class="col-md-8 col-sm-8">
                    <input class="form-control" type="text" placeholder="채널명을 입력하세요" required="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    어드민링크
                  </label>
                  <div class="col-md-8 col-sm-8">
                    <input class="form-control" type="text" placeholder="어드민링크를 입력하세요" required="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    계정/비번
                  </label>
                  <div class="col-md-4 col-sm-4">
                    <input class="form-control" type="text" placeholder="계정을 입력하세요" required="">
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <input class="form-control" type="text" placeholder="비밀번호를 입력하세요" required="">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    상품링크
                  </label>
                  <div class="col-md-8 col-sm-8">
                    <input class="form-control" type="text" placeholder="상품번호가 제외된 링크를 입력하세요" required="">
                  </div>
                </div>

              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="ace-icon fa fa-times"></i>
              닫기
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="ace-icon fa fa-check"></i>
              등록
            </button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
