<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">채널관리</a>
      </li>
      <li>
        <a href="/channel/List">채널목록</a>
      </li>
      <li class="active">MA티켓몬스터</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        MA티켓몬스터
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)개의 상품이 등록되 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-3 text-left">
        <a class="btn btn-sm btn-info" href="#add-new-channel-product" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-9">
        <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left">
          <select class="form-control flat status-select">
            <option data-parent="default" value="">전체</option>
						<option data-parent="warning" value="판매대기">판매대기</option>
						<option data-parent="success" value="판매중">판매중</option>
            <option data-parent="danger" value="판매종료">판매종료</option>
					</select>
				</div>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group">
          <input type="text" class="form-control" placeholder="상품번호,상품명,판매자아이디">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <colgroup>
            <col width=""/>
            <col width=""/>
            <col width=""/>
            <col width=""/>
            <col width=""/>
            <col width="250px"/>
            <col width=""/>
          </colgroup>
          <thead>
            <tr>
              <th>상품번호</th>
              <th>상품명</th>
              <th>최근갱신일</th>
              <th>다음갱신일</th>
              <th>판매상태</th>
              <th class="text-center">히스토리</th>
              <th class="text-center">최근수정</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#" onclick="alert('상품상세페이지로'); return false;">1123121213</a></td>
              <td>[서해 속초항] 장금호</td>
              <td>17.05.31</td>
              <td>17.09.31</td>
              <td>
                <span class="color-success">판매중</span>
                <!--
                <span class="color-warning">판매대기</span>
                <span class="color-danger">판매종료</span>
              -->
              </td>
              <td>
                <a href="#channel-product-history" class="ellipsis limit-250 display-block" role="button" data-toggle="modal">
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                </a>
              </td>
              <td class="text-center"><span class="color-default">shpark 17.05.31 10:30</span></td>
              <td>
                <div class="btn-toolbar">
                  <div class="btn-group">
                    <a class="btn btn-info btn-sm btn-white" href="#edit-channel-product" role="button" data-toggle="modal">상품상세</a>
                    <button data-toggle="dropdown" class="btn btn-info btn-sm btn-white dropdown-toggle">
                      <span class="ace-icon fa fa-caret-down icon-only"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-light-blue">
                      <li>
                        <a href="#edit-channel-product" class="color-primary" role="button" data-toggle="modal"><i class="fa fa-edit"></i>&nbsp;수정</a>
                      </li>
                      <li>
                        <a href="#" class="color-danger"><i class="fa fa-trash"></i>&nbsp;삭제</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>


<div id="add-new-channel-product" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">MA티켓몬스터 신규상품등록</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품명 </label>
  							<div class="col-sm-9">
                  <div class="input-group col-xs-10">
                    <div class="input-group-btn">
                      <div class="dropdown open">
  											<ul class="dropdown-menu">
  												<li>
  													<a href="#" tabindex="-1">[속초항]장금호</a>
  												</li>
  											</ul>
  										</div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  </div>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품번호 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" type="text" placeholder="상품번호를 입력하세요">
  							</div>
  						</div>
              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 최근갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" placeholder="최근갱신일을 입력하세요">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 다음갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" placeholder="최근갱신일을 입력하세요">
  							</div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">메모</label>
                <div class="col-sm-9">
                  <div class="col-sm-10 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="10"></textarea>
                  </div>
                </div>
							</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매상태 </label>
  							<div class="col-sm-9">
                  <select class="col-sm-6 flat status-select">
        						<option data-parent="warning" value="판매대기">판매대기</option>
        						<option data-parent="success" value="판매중">판매중</option>
                    <option data-parent="danger" value="판매종료">판매종료</option>
        					</select>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="edit-channel-product" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">1234123214 상품수정</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품명 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" value="장금호[속초항]" type="text" placeholder="Username" readonly="">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품번호 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" value="12321412312" type="text" placeholder="Username" readonly="">
  							</div>
  						</div>
              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 최근갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" placeholder="2017.01.01">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 다음갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" placeholder="2017.01.01">
  							</div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">메모</label>
                <div class="col-sm-9">
                  <div class="col-sm-10 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="10"></textarea>
                  </div>
                </div>
							</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매상태 </label>
  							<div class="col-sm-9">
                  <select class="col-sm-6 flat status-select">
        						<option data-parent="warning" value="판매대기">판매대기</option>
        						<option data-parent="success" value="판매중">판매중</option>
                    <option data-parent="danger" value="판매종료">판매종료</option>
        					</select>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="channel-product-history" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">11123242 히스토리</h4>
  			</div>
  			<div class="modal-body no-padding">
          <iframe src="/iframes/HistoryList" style="width:100%; height:500px;">

          </iframe>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
