<div class="main-content-inner" id="home-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">채널상품관리</a>
      </li>
      <li class="active">상품별 채널판매현황</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        상품목록
        <%# <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          overview &amp; stats
        </small>%>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-3 text-left">
        <a class="btn btn-sm btn-info" href="#add-new-business" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-9">
        <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left">
          <%# <select class="form-control flat status-select">
						<option data-parent="default" value="">전체</option>
						<option data-parent="warning" value="판매대기">판매대기</option>
						<option data-parent="success" value="판매중">판매중</option>
            <option data-parent="danger" value="판매종료">판매종료</option>
					</select>%>
				</div>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group">
          <input type="text" class="form-control" placeholder="상품명">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>상품명</th>
              <th>판매채널</th>
              <th>상품번호</th>
              <th>판매자아이디</th>
              <th>판매상태</th>
              <th>최근수정</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>속초항-장금호</td>
              <td>MA 티켓몬스터</td>
              <td>123415324</td>
              <td><a href="">장금호1234</a></td>
              <td class="color-success">판매중</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
            <tr>
              <td>2</td>
              <td>속초항-장금호</td>
              <td>MA 티켓몬스터</td>
              <td>54123452345</td>
              <td><a href="">장금호1234</a></td>
              <td class="color-success">판매중</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
            <tr>
              <td>3</td>
              <td>속초항-장금호</td>
              <td>MA 지마켓</td>
              <td>23434234</td>
              <td><a href="">장금호1234</a></td>
              <td class="color-success">판매중</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="add-new-business" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">영업내역 신규등록</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">
  						<div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 상품구분 </label>
  							<div class="col-sm-5">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="배낚시">배낚시</option>
        						<option value="좌대낚시">좌대낚시</option>
        					</select>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품그룹 </label>
  							<div class="col-sm-9">
                  <div class="input-group col-xs-10">
                    <div class="input-group-btn">
                      <div class="dropdown open">
  											<ul class="dropdown-menu">
  												<li>
  													<a href="#" tabindex="-1">속초항</a>
  												</li>
  												<li class="divider"></li>

  												<li>
  													<a href="#" tabindex="-1">신규등록&nbsp;<i class="fa fa-plus"></i></a>
  												</li>
  											</ul>
  										</div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  </div>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품명 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매자계정 </label>
  							<div class="col-sm-9">
                  <div class="input-group col-xs-10">
                    <div class="input-group-btn">
                      <div class="dropdown open">
  											<ul class="dropdown-menu">
  												<li>
  													<a href="#" tabindex="-1">장금호1234</a>
  												</li>
  											</ul>
  										</div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  </div>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매자연락처 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 수수료/단위 </label>
  							<div class="col-sm-4">
                  <input class="col-xs-12" type="text" id="form-field-2" placeholder="Username">
  							</div>
                <div class="col-sm-3">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="">전체</option>
        						<option value="%">%</option>
        						<option value="₩">₩</option>
        					</select>
                </div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">메모</label>
                <div class="col-sm-9">
                  <div class="col-sm-10 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="10"></textarea>
                  </div>
                </div>
							</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
