<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품별 채널 판매현황</a>
      </li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        상품별 채널 판매현황
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          상품별 채널 판매현황 입니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-horizontal column-controller">
          <div class="form-group">
            <div class="checkbox col-md-1 col-sm-2">
              <label>
                <input name="check-box-0" type="checkbox" class="ace" value="0" checked>
                <span class="lbl">MA-티켓몬스터</span>
              </label>
            </div>
            <div class="checkbox col-md-1 col-sm-2">
              <label>
                <input name="check-box-1" type="checkbox" class="ace" value="1" checked>
                <span class="lbl">MA-티켓몬스터</span>
              </label>
            </div>
            <div class="checkbox col-md-1 col-sm-2">
              <label>
                <input name="check-box-2" type="checkbox" class="ace" value="2" checked>
                <span class="lbl">MA-티켓몬스터</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin" id="productTable" style="border-bottom:1px solid #ddd;">
          <thead>
            <tr>
              <th>순번</th>
              <th>상품명</th>
              <th class="col-idx-0">MA-티켓몬스터</th>
              <th class="col-idx-1">MA-티켓몬스터</th>
              <th class="col-idx-2">MA-티켓몬스터</th>
              <th class="col-idx-3">MA-티켓몬스터</th>
              <th class="col-idx-4">MA-티켓몬스터</th>
              <th class="col-idx-5">MA-티켓몬스터</th>
              <th class="col-idx-6">MA-티켓몬스터</th>
              <th class="col-idx-7">MA-티켓몬스터</th>
              <th class="col-idx-8">MA-티켓몬스터</th>
              <th class="col-idx-9">MA-티켓몬스터</th>
              <th class="col-idx-10">MA-티켓몬스터</th>
              <th class="col-idx-11">MA-티켓몬스터</th>
              <th class="col-idx-12">MA-티켓몬스터</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <a href="#" data-action="settings" data-toggle="dropdown" aria-expanded="true">
                  [전촌항] 장금호&nbsp;<i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-light-blue dropdown-caret">
                  <li>
                    <a data-toggle="tab" href="javascript:;" class="color-primary">수수료 10%</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="javascript:;" class="color-primary"></a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a data-toggle="tab" href="javascript:;" class="color-primary">상품보기</a>
                  </li>
                </ul>
              </td>
              <td class="col-idx-0 text-center">
                <a href="#" data-action="settings" data-toggle="dropdown" aria-expanded="true">
                  3개&nbsp;<i class="ace-icon fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-light-blue dropdown-caret">
                  <!--
                  color-success : 판매중
                  color-warning : 판매대기
                  color-danger : 판매중지
                  -->
                  <li>
                    <a data-toggle="tab" href="javascript:;" class="color-success"><i class="fa fa-check-circle"></i>&nbsp;112332141235</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="javascript:;" class="color-warning"><i class="fa fa-minus-circle"></i>&nbsp;112332141235</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="javascript:;" class="color-danger"><i class="fa fa-times-circle"></i>&nbsp;112332141235</a>
                  </li>
                </ul>
              </td>
              <td class="col-idx-1 text-center">3개</td>
              <td class="col-idx-2 text-center">3개</td>
              <td class="col-idx-3 text-center">3개</td>
              <td class="col-idx-4 text-center">3개</td>
              <td class="col-idx-5 text-center">3개</td>
              <td class="col-idx-6 text-center">3개</td>
              <td class="col-idx-7 text-center">3개</td>
              <td class="col-idx-8 text-center">3개</td>
              <td class="col-idx-9 text-center">3개</td>
              <td class="col-idx-10 text-center">3개</td>
              <td class="col-idx-11 text-center">3개</td>
              <td class="col-idx-12 text-center">3개</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>
