html,body{
  font-size: 14px;
}

a{
  text-decoration: none !important;
}

iframe{
  border:1px solid #ddd;
}

.input-group-btn.info{
  background-color: #6fb3e0;
}

.input-group-btn.primary{
  background-color: #428bca;
}
.input-group-btn.success{
  background-color: #87b87f;
}
.input-group-btn.danger{
  background-color: #d15b47;
}
.input-group-btn.warning{
  background-color: #ffb752;
}

select.flat{
  border-radius: 0;
  -webkit-appearance: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100%;
  background-repeat: no-repeat;
}

select.flat.default{
  color: #858585;
}

select.flat.warning{
  color: #ffb752;
}

select.flat.danger{
  color: #d15b47;
}

select.flat.success{
  color: #87b87f;
}

.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}
.no-padding-top{
  padding-top: 0;
}
.no-padding-bottom{
  padding-bottom: 0;
}

.no-margin{
  margin: 0;
}

.table th,
.table td{
  position: relative !important;
}

.table.th-primary>thead>tr>th {
  background-color: #428bca;
  border-color: #428bca;
  font-weight: 700;
  color: white;
}

.table.th-info>thead>tr>th {
  background-color: #6fb3e0;
  border-color: #6fb3e0;
  font-weight: 700;
  color: white;
}

.table.no-border{
  border: 0;
}
.table.no-border>thead>tr>th{
  border: 0;
  background-color: white;
}
.table.no-border>tbody>tr>td{
  border: 0;
}

.table.state-row>tbody>tr.success>td{
  background-color: transparent;
  color: #87b87f;
}

.table.state-row>tbody>tr.danger>td{
  background-color: transparent;
  color: #d15b47;
  text-decoration: line-through;
}

.table.center>tbody>tr>td,
.table.center>thead>tr>th{
  text-align: center;
}

.table.vertical-middle>tbody>tr>td,
.table.vertical-middle>tbody>tr>th,
.table.vertical-middle>thead>tr>th{
  vertical-align: middle !important;
}

.table-row{
  width: 100%;
  display: table;
}
.table-row .column-20{
  display: inline-block;
  width: 20%;
  padding: 0 5px;
}

.pagination-area{
  background-color: #e4e6e9;
}

.text-right{
  text-align: right !important;
}

.text-left{
  text-align: left !important;
}

.pagination{
  margin: 20px;
}

.color-success{
  color:#87b87f !important;
}

.color-primary{
  color: #428bca !important;
}

.color-info{
  color: #6fb3e0 !important;
}

.color-danger{
  color: #d15b47 !important;
}

.color-warning{
  color: #ffb752 !important;
}

.color-default{
  color:#abbac3 !important;
}

.no-border{
  border: 0;
}

.no-border-top{
  border-top: 0;
}

.no-border-right{
  border-right: 0;
}

.no-border-left{
  border-left: 0;
}

.no-border-bottom{
  border-bottom: 0;
}

.input-group .dropdown{
  margin-top: 35px;
}



.search-group input{
  height: 35px;
}

.limit-250{
  width: 250px;
}
.ellipsis {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.fit-parent-h{
  height: 100%;
}

.btn-card{
  display: block;
  text-decoration: none !important;
}

.btn-card:visited{
   color: inherit;
}

.btn-card:hover .card-image .profile-image{
  transition: transform .2s ease;
  transform: scale(1.05);
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
}
.card .card-image .profile-image {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  transition: transform .2s ease;
  transform: scale(1);
}

.card .card-content {
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.card .card-image .bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  width: 100%;
  color: white;
}

.card .card-image .bottom .title{
  font-size: 1.2rem;
  font-weight: 400;
}

.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-content a {
  color: #428bca;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-content a:hover {
  color: #6fb3e0;
  text-decoration: none;
}


.card .profile-user-info{
  width: 100%;
}

.card .profile-info-row:first-child .profile-info-name{
  width: 30%;
}

.card .profile-user-info-striped{
  border: 0;
}

.card .profile-user-info-striped .profile-info-value{
  text-align: left;
  color: #6fb3e0;
}

.input-group-btn button{
  width: 100%;
}

.hidden-target{
  display: none;
}

.cover-check-group{
  background-color: #d5e8f5;
  padding: 10px 0;
}

.empty-row{
  border: 1px dashed #ddd;
  width: 100%;
  height: 2em;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  display: table;
  font-size: 2em;
  color: #ddd;
  border-radius: 5px;
}

.empty-row i.fa{
  margin-right: 1em;
}

.file-upload-area{
  position: relative;
  border: 1px dashed #777;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: table;
  color: #777;
  border-radius: 5px;
}



.file-upload-area.preview{
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 0 rgba(0,0,0,.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.file-upload-area .btn-delete{
  display: none;
}

.file-upload-area.preview .btn-delete{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .5;
}
.file-upload-area.preview .btn-delete:hover{
  opacity: 1;
}

.file-upload-area.preview .upload-txt{
  visibility: hidden;
}

.file-upload-area .btn-upload{
  border: 0 !important;
  background-color: transparent !important;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 10%;
  font-size: 2em;
}

.file-upload-area .btn-upload i.fa{
  margin-right: 1em;
}

.tag-box{
  display: table;
  width: 100%;
  border: 1px solid #ddd;
  min-height: 3em;
  padding: 10px 0;
}

.tag-box .empty-tag{
  font-size: 2rem;
  color: #ddd;
  width: 100%;
  text-align: center;
  margin: 1rem;
}

.tag-box .tag{
  display: block;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #91b8d0;
  color: #FFF;
  text-shadow: 1px 1px 1px rgba(0,0,0,.15);
  padding: 4px 22px 5px 9px;
  margin-bottom: 3px;
  margin-right: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.tag-box .close{
  font-size: 15px;
  line-height: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
  color: #FFF;
  text-shadow: none;
  float: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 18px;
  text-align: center;
}

.tag-box .close:hover{
  background-color:rgba(0,0,0,.2);
}

.btn-profile-upload{
  display: inline-block;
  margin: 10px 0;
}
.btn-profile-upload img{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

.ui-state-default .sort-no{
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  padding: 5px 10px;
}

.options-group{
  padding: 0;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.display-table{
  display: table;
}

.display-block{
  display: block;
}

.dropdown-menu li p.txt{
  font-size: 13px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 4px;
  margin-bottom: 1px;
  margin-top: 1px;
}

.photo-box{
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.photo-box .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 15%;
  padding-left: 30%;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgba(0,0,0,.3);
}

.photo-box .btn-danger{
  display: none;
}
.photo-box .btn-danger.active{
  display: block;
}

.photo-box .photo-img{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.photo-box .btn-danger{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding: 5px 10px;
}

.bg-blue{
  background-color: #d5e8f5;
}

.inline-block{
  display: inline-block;
}

.gradient-black-white {
    background-color: #1a82f7;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
    background: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
    background: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
    background: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
