<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">이벤트관리</a>
      </li>
      <li class="active">이벤트목록</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        이벤트목록
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총 10개의 이벤트가 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-2 col-sm-2 col-xs-2 text-left">
        <a class="btn btn-sm btn-info" href="#event-add" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>
      <div class="col-md-offset-4 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 input-group">
          <input type="text" class="form-control" placeholder="이벤트명">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <%# <div class="col-md-2 col-sm-2 col-xs-2 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-seller" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>%>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover th-info no-margin">
          <thead>
            <tr>
              <th>순번</th>
              <th>이벤트명</th>
              <th>이벤트태그</th>
              <th>유효기간</th>
              <th>할인가</th>
              <th>참여상품수</th>
              <th>최근수정</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="location.href='/event/EventEdit'">
              <td>1</td>
              <td>국동항 10%할인</td>
              <td>10%할인</td>
              <td>17.05.31~17.06.31</td>
              <td>10%</td>
              <td>10</td>
              <td class="color-default">shpark 17.05.31 10:30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="event-add" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header no-border">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>이벤트생성</h4>
  			</div>
  			<div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="form-horizontal" role="form">
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    이벤트명
                  </label>
                  <div class="col-md-8 col-sm-8">
                    <input class="form-control text-right" type="text" placeholder="국동항상품 10%할인" required="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    태그명
                  </label>
                  <div class="col-md-8 col-sm-8">
                    <input class="form-control text-right" type="text" placeholder="10%할인" required="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    할인가격/단위
                  </label>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <input class="form-control text-right" type="number" required="">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <select class="form-control flat" id="form-field-select-1">
          						<option value="%">%</option>
          						<option value="₩">₩</option>
          					</select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 col-xs-12 control-label no-padding-right">
                    시작일/종료일
                  </label>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <input class="form-control text-right datepicker" type="text" readonly="" required="" data-date-format="yyyy-mm-dd">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6">
                    <input class="form-control text-right datepicker" type="text" readonly="" required="" data-date-format="yyyy-mm-dd">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 col-sm-3 control-label no-padding-right">
                    이벤트내용
                  </label>
                  <div class="col-md-8 col-sm-8">
                    <textarea class="form-control" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="ace-icon fa fa-times"></i>
              닫기
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="ace-icon fa fa-check"></i>
              저장
            </button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div>
