<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-gift"></i>
        <a href="#">이벤트관리</a>
      </li>
      <li><a href="/event/EventList">이벤트목록</a></li>
      <li class="active">국동항 10%할인</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        국동항 10%할인
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총 10개의 상품이 적용되었습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <form class="form-horizontal" role="form">
          <input type="hidden" name="foldername" value="">
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label no-padding-right">
              이벤트명/태그명
            </label>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <input class="form-control text-right" type="text" placeholder="국동항상품 10%할인">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <input class="form-control text-right" type="text" placeholder="10%할인">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label no-padding-right">
              할인가격/단위
            </label>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <input class="form-control text-right" type="number">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <select class="form-control flat" id="form-field-select-1">
    						<option value="%">%</option>
    						<option value="₩">₩</option>
    					</select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label no-padding-right">
              시작일/종료일
            </label>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <input class="form-control text-right datepicker" type="text" readonly="" required="" data-date-format="yyyy-mm-dd">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
              <input class="form-control text-right datepicker" type="text" readonly="" required="" data-date-format="yyyy-mm-dd">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label no-padding-right">
              이벤트내용
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
              <textarea class="form-control" rows="5"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 col-sm-3 col-xs-12 control-label no-padding-right">
              이벤트 이미지
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12 no-padding">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="photo-box">
                  <input type="file" id="pcImageUploader" value="" data-name="" data-preview="#pcImagePreview" accept="image/*" style="width:0; height:0;">
                  <div class="photo-img" id="pcImagePreview"></div>
                  <div class="overlay" onclick="uploadTrigger('#pcImageUploader'); return false;">피씨버전(1920x450)</div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="photo-box">
                  <input type="file" id="mobImageUploader" value="" data-name="" data-preview="#mobImagePreview" accept="image/*" style="width:0; height:0;">
                  <div class="photo-img" id="mobImagePreview"></div>
                  <div class="overlay" onclick="uploadTrigger('#mobImageUploader'); return false;">모바일버전(780x200)</div>                  
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
          <label class="col-md-2 col-sm-2 col-xs-12 control-label no-padding">
            <strong class="blue">적용상품 10개</strong>
          </label>
          <div class="col-md-offset-8 col-md-2 col-sm-offset-8 col-sm-2 col-xs-4 text-right">
            <a class="btn btn-sm btn-primary" href="#event-product-add" data-toggle="modal">상품선택&nbsp;<i class="fa fa-external-link"></i></a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tag-box">
          <!-- Empty -->
          <!-- <div class="empty-tag"><i class="fa fa-plus"></i>&nbsp;상품을 추가하세요.</div> -->
          <div class="col-md-3 col-sm-3 col-xs-6 cover-tag">
            <span class="tag ellipsis">[속초항] 진선장1호<button type="button" class="close">×</button></span>
          </div>

				</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
      <div class="col-md-6 col-sm-6 col-xs-4 text-left">
        <button class="btn btn-sm btn-info">
          <i class="ace-icon fa fa-eye"></i>
          미리보기
        </button>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-8 text-right">
        <button class="btn btn-sm" onclick="javascript:location.href='/event/EventList'">
          <i class="ace-icon fa fa-times"></i>
          목록으로
        </button>

        <button class="btn btn-sm btn-primary">
          <i class="ace-icon fa fa-check"></i>
          저장
        </button>
      </div>
    </div>
	 </div>
 </div>
</div><!-- PAGE CONTENT ENDS -->

<div id="event-product-add" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header no-border">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>이벤트 상품선택</h4>
  			</div>
        <%# <div class="modal-body">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
              <button class="btn btn-sm btn-warning">전체선택&nbsp;<i class="fa fa-warning"></i></button>
            </div>
          </div>
        </div>%>
  			<div class="modal-body" style="max-height:500px; overflow-y:scroll;">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
              <div class="checkbox bg-blue col-sm-4">
                <label>
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;[속초항]장금호</span>
                </label>
              </div>
            </div>
          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-4 text-left">
            <label class="color-danger">12개 선택됨</label>
          </div>
          <div class="col-sm-8">
            <button class="btn btn-sm btn-warning" data-dismiss="modal">
              <i class="ace-icon fa fa-warning"></i>
              전체선택
            </button>
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="ace-icon fa fa-times"></i>
              닫기
            </button>

            <button class="btn btn-sm btn-primary">
              <i class="ace-icon fa fa-check"></i>
              적용
            </button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div>
