<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li>
      <li class="active">상품 조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        상품 조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)개의 상품이 등록되 있습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-9">
        <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left">
          <select class="form-control flat" id="form-field-select-1">
						<option value="">전체</option>
						<option value="판매대기">판매대기</option>
						<option value="판매중">판매중</option>
            <option value="판매종료">판매종료</option>
					</select>
				</div>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group">
          <input type="text" class="form-control" placeholder="판매자명,연락처,주소">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-3 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-channel-product" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-sm-3 col-xs-12">
          <a href="#" class="btn-card">
            <div class="card">
              <div class="card-image">
                  <div class="profile-image" style="background-image:url(http://img.madoross.kr:80/img/00ef88e023f411e7bf17fb12557383eb.jpeg?ts=1492491655);"></div>
                  <span class="card-title">간절곶송정가두리낚시터</span>
              </div>

              <div class="card-content">
                <div class="profile-user-info profile-user-info-striped">
                  <div class="profile-info-row">
  									<div class="profile-info-name"> 연락처 </div>
  									<div class="profile-info-value">
  										<span class="">010-1234-1234</span>
  									</div>
  								</div>
  								<div class="profile-info-row">
  									<div class="profile-info-name"> 상품그룹 </div>
  									<div class="profile-info-value">
  										<span class="">학동항</span>
  									</div>
  								</div>
  								<div class="profile-info-row">
  									<div class="profile-info-name"> 주소 </div>
  									<div class="profile-info-value">
  										<i class="fa fa-map-marker light-orange bigger-110"></i>
  										<span class="">동해&middot;울산광역시&middot;간절곶송정낚시터</span>
  									</div>
  								</div>

                  <div class="profile-info-row">
  									<div class="profile-info-name"> 기본가격 </div>
  									<div class="profile-info-value">
  										<span class="">40,000원</span>
  									</div>
  								</div>

                  <div class="profile-info-row">
  									<div class="profile-info-name"> 예약타입 </div>
  									<div class="profile-info-value">
  										<span class="color-danger">전화예약</span>
  									</div>
  								</div>

  								<div class="profile-info-row">
  									<div class="profile-info-name"> 판매상태 </div>
  									<div class="profile-info-value">
  										<span class="color-warning">판매대기</span>
  									</div>
  								</div>
                  <div class="profile-info-row">
  									<div class="profile-info-name"> 최근수정 </div>
  									<div class="profile-info-value">
  										<span class="">hjlee&nbsp;&nbsp;&nbsp;17.05.31</span>
  									</div>
  								</div>
  							</div>
              </div>

              <div class="card-action">
                  <p class="ellipsis">이용일 3일전 부터는 취소불가, 날짜변경만 가능 (날짜 변경은 1회에 한해 가능하며 변경 후엔 취소 불가)<p/>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>


<div id="add-new-channel-product" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">MA티켓몬스터 신규상품등록</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품명 </label>
  							<div class="col-sm-9">
                  <div class="input-group col-xs-10">
                    <div class="input-group-btn">
                      <div class="dropdown open">
  											<ul class="dropdown-menu">
  												<li>
  													<a href="#" tabindex="-1">장금호[속초항]</a>
  												</li>
  											</ul>
  										</div>
                    </div>
                    <input type="text" class="form-control" aria-label="Text input with dropdown button">
                  </div>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품번호 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>
              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 최근갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 다음갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">메모</label>
                <div class="col-sm-9">
                  <div class="col-sm-10 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="10"></textarea>
                  </div>
                </div>
							</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매상태 </label>
  							<div class="col-sm-9">
                  <div class="radio col-sm-12">
										<label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace">
											<span class="lbl color-warning">판매대기</span>
										</label>
                    <label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace">
											<span class="lbl color-success">판매중</span>
										</label>
                    <label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace">
											<span class="lbl color-danger">판매종료</span>
										</label>
									</div>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="edit-channel-product" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">1234123214 상품수정</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품명 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" value="장금호[속초항]" type="text" id="form-field-2" placeholder="Username" readonly="">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 상품번호 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10" value="12321412312" type="text" id="form-field-2" placeholder="Username" readonly="">
  							</div>
  						</div>
              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 최근갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 다음갱신일 </label>
  							<div class="col-sm-9">
  								<input class="col-xs-10 datepicker" type="text" id="form-field-2" placeholder="Username">
  							</div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">메모</label>
                <div class="col-sm-9">
                  <div class="col-sm-10 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="10"></textarea>
                  </div>
                </div>
							</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매상태 </label>
  							<div class="col-sm-9">
                  <div class="radio col-sm-12">
										<label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace">
											<span class="lbl color-warning">판매대기</span>
										</label>
                    <label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace">
											<span class="lbl color-success">판매중</span>
										</label>
                    <label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace">
											<span class="lbl color-danger">판매종료</span>
										</label>
									</div>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
