<%
  var prod_idx = result.prod_idx;
%>

<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li><li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품조회</a>
      </li>
      <li class="active">진선장1호</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        진선장1호
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tabbable">
					<ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
            <li>
							<a href="/product/ProductDetail00">기본정보</a>
						</li>

						<li>
							<a href="/product/ProductDetail01">상품갤러리</a>
						</li>

						<li class="active">
							<a href="#">상품옵션</a>
						</li>
            <li>
							<a href="/product/ProductDetail03">어종관리</a>
						</li>
					</ul>

					<div class="tab-content">
            <form name="productForm">
              <input type="hidden" name="prod_idx" value="<%= prod_idx %>">
            </form>
						<div class="tab-pane in active">
							<div class="row">
                <div class="col-xs-12 widget-container-col">
									<div class="widget-box ui-sortable-handle">
										<div class="widget-body">
											<div class="widget-main">
                        <div class="row">
                          <form class="form-horizontal">
                            <div class="form-group col-sm-10">
          										<label class="col-md-2 col-sm-4 control-label no-padding-right"> 노출가격/설명 </label>
          										<div class="col-md-3 col-sm-3">
          											<input type="number" class="col-xs-12">
          										</div>
                              <div class="col-md-7 col-sm-5">
          											<input type="text" class="col-xs-12">
          										</div>
          									</div>
                            <div class="form-group col-sm-2">
                              <button class="btn btn-sm btn-primary btn-block">
            										<i class="fa fa-check"></i>&nbsp;저장
            									</button>
                            </div>
                          </form>
                        </div>
											</div>
										</div>
									</div>
								</div>
              </div>
              <br><br>
              <h3 class="header smaller lighter blue">옵션내역&nbsp;<a href="#add-date-valid" data-toggle="modal"><i class="fa fa-plus-circle"></i></a></h3>
              <div class="row">
                <div class="col-xs-12">
                  <div class="empty-row">
                    <i class="fa fa-warning"></i>목록이 존재하지 않습니다.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 widget-container-col" id="firstOptions">
									<div class="widget-box ui-sortable-handle">
										<div class="widget-header">
											<h5 class="widget-title">옵션 유효기한&nbsp;(01.31~08.31)</h5>
                      <div class="widget-toolbar">
  											<a href="#add-time-option" role="button" data-toggle="modal" class="blue">
  												<i class="ace-icon fa fa-plus"></i>
  											</a>&nbsp;&nbsp;&nbsp;
                        <a href="#edit-date-valid" class="blue" data-toggle="modal">
  												<i class="ace-icon fa fa-pencil"></i>
  											</a>&nbsp;&nbsp;&nbsp;
  											<a href="#" class="red">
  												<i class="ace-icon fa fa-close"></i>
  											</a>&nbsp;&nbsp;&nbsp;
  										</div>
										</div>
										<div class="widget-body">
											<div class="widget-main">
                        <div class="row">
                          <div class="col-xs-12">
                            <div class="col-xs-12 options-group">
                              <div class="table-header">
                                주중 옵션
                                <div class="widget-toolbar">
            											<a href="#" class="white">
            												<i class="ace-icon fa fa-plus"></i>
            											</a>&nbsp;&nbsp;&nbsp;
                                  <a href="#" class="red">
            												<i class="ace-icon fa fa-close"></i>
            											</a>&nbsp;&nbsp;&nbsp;
            										</div>
                              </div>
                                <table class="table center no-margin vertical-middle">
                                  <thead>
                                    <tr>
                                      <th width="20%">스케쥴명</th>
                                      <th width="20%">옵션명</th>
                                      <th width="20%">가격</th>
                                      <th width="20%">최근수정</th>
                                      <th width="20%"></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td colspan="5">
                                        <form>
                                          <div class="row hidden">
                                            <div class="table-row">
                                              <div class="column-20">1항차</div>
                                              <div class="column-20">대인</div>
                                              <div class="column-20">40000</div>
                                              <div class="column-20"><span class="color-default">서강민 17.07.02</span></div>
                                              <div class="column-20 text-left">
                                                <button type="button" class="btn btn-sm btn-primary" onclick="onclick_btnOptionEdit(this.form); return false;"><i class="fa fa-pencil"></i></button>
                                                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-close"></i></button>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                              <div class="table-row">
                                                <div class="column-20"><input type="text" class="form-control text-center" value="1항차"/></div>
                                                <div class="column-20"><input type="text" class="form-control text-center" value="소인"/></div>
                                                <div class="column-20"><input type="number" class="form-control text-center" value="30000"/></div>
                                                <div class="column-20"><span class="color-default">서강민 17.07.02</span></div>
                                                <div class="column-20 text-left">
                                                  <button type="button" class="btn btn-sm btn-success btn-save" onclick="onclick_btnOptionSave(this.form); return false;"><i class="fa fa-check"></i></button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </form>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>

                            <div class="col-xs-12 options-group">
                              <div class="table-header">
                                주말 옵션
                                <div class="widget-toolbar">
            											<a href="#" class="red">
            												<i class="ace-icon fa fa-close"></i>
            											</a>&nbsp;&nbsp;&nbsp;
            										</div>
                              </div>
                                <table class="table center no-margin">
                                  <thead>
                                    <tr>
                                      <th>스케쥴명</th>
                                      <th>옵션명</th>
                                      <th>가격</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td><input type="text" class="col-xs-12" value="1항차"/></td>
                                      <td><input type="text" class="col-xs-12" value="대인"/></td>
                                      <td><input type="number" class="col-xs-12" value="40000"/></td>
                                      <td>
                                        <a class="btn btn-sm btn-success btn-save"><i class="fa fa-check"></i></a>
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-close"></i></a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input type="text" class="col-xs-12" value="1항차"/></td>
                                      <td><input type="text" class="col-xs-12" value="소인"/></td>
                                      <td><input type="number" class="col-xs-12" value="30000"/></td>
                                      <td>
                                        <a class="btn btn-sm btn-success btn-save"><i class="fa fa-check"></i></a>
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-close"></i></a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input type="text" class="col-xs-12" value="2항차"/></td>
                                      <td><input type="text" class="col-xs-12" value="대인"/></td>
                                      <td><input type="number" class="col-xs-12" value="40000"/></td>
                                      <td>
                                        <a class="btn btn-sm btn-success btn-save"><i class="fa fa-check"></i></a>
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-close"></i></a>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td><input type="text" class="col-xs-12" value="2항차"/></td>
                                      <td><input type="text" class="col-xs-12" value="소인"/></td>
                                      <td><input type="number" class="col-xs-12" value="30000"/></td>
                                      <td>
                                        <a class="btn btn-sm btn-success btn-save"><i class="fa fa-check"></i></a>
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-close"></i></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>

                          </div>
                        </div>
											</div>
										</div>
									</div>
								</div>
              </div>

              <hr>
              <div class="row">
                <div class="col-xs-12 text-center">
                  <a href="#option-preview" role="button" data-toggle="modal" class="btn btn-primary">
                    <i class="ace-icon fa fa-eye"></i>&nbsp;&nbsp;&nbsp;옵션미리보기
                  </a>
                </div>
              </div>

						</div>
					</div>
				</div>

      </div>
    </div>
  </div>
</div>


<div id="option-preview" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">첫번째시즌</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">
              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 날짜선택 </label>
  							<div class="col-sm-8">
                  <input type="text" class="form-control datepicker" data-date-format="yyyy.mm.dd"/>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 옵션1 </label>
  							<div class="col-sm-8">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="갈치낚시(07:00~12:00)">갈치낚시(07:00~12:00) [+10000원]</option>
        						<option value="참돔낚시(13:00~19:00)">참돔낚시(13:00~19:00)</option>
        					</select>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 옵션2 </label>
  							<div class="col-sm-8">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="대인">대인</option>
        						<option value="소인">소인(7세이하) [-10000원]</option>
        					</select>
  							</div>
  						</div>

            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-time-option" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">옵션그룹 추가</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="" role="form">
              <div class="col-sm-12">
                <label class="col-sm-3 col-xs-12 form-field no-padding-right" for="form-field-1"> 그룹명 </label>
                <input type="text" class="form-control col-sm-9 col-xs-12" placeholder="1항차,갈치낚시,호래기낚시,종일배"/>
  						</div>
              <%# <div class="col-sm-3 datetimepicker">
                <label class="col-sm-12 form-field no-padding-right" for="form-field-1"> 시작시간 </label>
                <input type="text" class="form-control"/>
  						</div>
              <div class="col-sm-3 datetimepicker">
                <label class="col-sm-12 form-field no-padding-right" for="form-field-1"> 종료시간 </label>
                <input type="text" class="form-control"/>
  						</div>%>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
            <button class="btn btn-sm btn-primary" data-dismiss="modal">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-date-valid" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">유효기한생성</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="" role="form">
              <div class="col-sm-12">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 시작일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 종료일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                </div>
  						</div>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
            <button class="btn btn-sm btn-primary" data-dismiss="modal">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div>

<div id="edit-date-valid" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">유효기한수정</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="" role="form">
              <div class="col-sm-12">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 시작일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 종료일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                </div>
  						</div>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
            <button class="btn btn-sm btn-primary" data-dismiss="modal">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div>
