<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li><li>
        <a href="#">상품조회</a>
      </li>
      <li class="active">진선장1호</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        진선장1호
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          기본정보
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tabbable">
					<ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
						<li class="active">
							<a href="#">기본정보</a>
						</li>

						<li>
							<a href="/product/ProductDetail01">상품갤러리</a>
						</li>

						<li>
							<a href="/product/ProductDetail02">상품옵션</a>
						</li>
            <li>
							<a href="/product/ProductDetail03">어종관리</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane in active">
              <div class="form-horizontal">
                <div class="form-group">
    							<label class="col-sm-2 control-label" for="form-field-2"> 상품군 </label>
    							<div class="col-sm-9">
                    <div class="col-sm-3 col-xs-12 no-padding-left">
                      <select class="form-control flat" id="form-field-select-1">
            						<option value="배낚시">배낚시</option>
            						<option value="좌대낚시">좌대낚시</option>
            					</select>
                    </div>
    							</div>
    						</div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="form-field-2"> 판매자(*) </label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <div class="dropdown">
                          <ul class="dropdown-menu">
                            <li>
                              <a href="#" tabindex="-1">진선장1234</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <a href="#" tabindex="-1">신규등록&nbsp;<i class="fa fa-plus"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <input type="text" class="form-control search-input" placeholder="판매자 아이디 검색">
                    </div>
                  </div>

                  <label class="col-sm-2 control-label" for="form-field-2"> 항구(*) </label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <div class="input-group-btn">
                        <div class="dropdown">
                          <ul class="dropdown-menu">
                            <li>
                              <a href="#" tabindex="-1">진선장1234</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <a href="#" tabindex="-1">신규등록&nbsp;<i class="fa fa-plus"></i></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <input type="text" class="form-control search-input" placeholder="판매자 아이디 검색">
                    </div>
                  </div>
    						</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-1">상품명(*)</label>
									<div class="col-sm-9">
										<input type="text" class="col-xs-10 col-sm-5" id="form-field-1" placeholder="상품명을 입력하세요">
									</div>
								</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-2">상품타이틀</label>
									<div class="col-sm-9">
										<input type="text" class="col-xs-12 col-sm-10" id="form-field-2" placeholder="상품타이틀을 입력하세요">
									</div>
								</div>

                <div class="form-group">
  								<label class="col-sm-2 control-label" for="form-field-3">상품설명</label>
                  <div class="col-sm-9">
                    <div class="col-sm-10 no-padding">
                      <textarea class="autosize-transition form-control"  id="form-field-3" rows="10" placeholder="상품설명을 입력하세요(html 타입)"></textarea>
                    </div>
                  </div>
  							</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-3">기본가/주중가</label>
									<div class="col-sm-2">
										<input type="number" class="col-xs-12 col-sm-12" id="form-field-3" placeholder="기본가">
									</div>
                  <div class="col-sm-2">
										<input type="number" class="col-xs-12 col-sm-12" id="form-field-3" placeholder="주중가">
									</div>
								</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-4">예약상품수(최소/최대)</label>
									<div class="col-sm-2">
										<input type="number" class="col-xs-12 col-sm-12" id="form-field-4" placeholder="최소">
									</div>
                  <div class="col-sm-2">
										<input type="number" class="col-xs-12 col-sm-12" id="form-field-4" placeholder="최대">
									</div>
								</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-5">상품난이도</label>
									<div class="col-sm-8 cover-check-group">
                    <div class="checkbox col-sm-2">
											<label>
												<input name="prod_level" type="checkbox" class="ace">
												<span class="lbl">초급</span>
											</label>
										</div>
                    <div class="checkbox col-sm-2">
											<label>
												<input name="prod_level" type="checkbox" class="ace">
												<span class="lbl">중급</span>
											</label>
										</div>
                    <div class="checkbox col-sm-2">
											<label>
												<input name="prod_level" type="checkbox" class="ace">
												<span class="lbl">고급</span>
											</label>
										</div>
									</div>
								</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-5">유료품목</label>
                  <div class="col-sm-8 cover-check-group">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="col-sm-10">
                          <input class="form-control" type="text" id="form-field-2" placeholder="품목명/가격">
                        </div>
                        <div class="col-sm-2">
                          <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="tag-box col-sm-12" style="border:0;">
                          <div class="col-md-6 col-sm-6 col-xs-6 cover-tag">
                            <span class="tag ellipsis">고급낚시대(5,000원)<button type="button" class="close">×</button></span>
                          </div>
                          <div class="col-md-6 col-sm-6 col-xs-6 cover-tag">
                            <span class="tag ellipsis">갯지렁이(5,000원)<button type="button" class="close">×</button></span>
                          </div>
                        </div>
    									</div>
                    </div>
                  </div>
								</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-5">무료품목</label>
									<div class="col-sm-8 cover-check-group">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="col-sm-10">
                          <input class="form-control" type="text" id="form-field-2" placeholder="품목명">
                        </div>
                        <div class="col-sm-2">
                          <button class="btn btn-primary btn-sm btn-block"><i class="fa fa-plus"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="tag-box col-sm-12" style="border:0;">
                          <div class="col-md-3 col-sm-4 col-xs-6 cover-tag">
                            <span class="tag ellipsis">낚시대<button type="button" class="close">×</button></span>
                          </div>
                          <div class="col-md-3 col-sm-4 col-xs-6 cover-tag">
                            <span class="tag ellipsis">오징어미끼<button type="button" class="close">×</button></span>
                          </div>
                        </div>
                      </div>
                    </div>
									</div>
								</div>

                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-5">편의시설&nbsp;&nbsp;<a href="#add-new-conv-service" role="button" data-toggle="modal"><i class="fa fa-plus-circle"></i></a></label>
                  <div class="col-sm-8 cover-check-group">
                    <div class="tag-box col-sm-12" style="border:0;">
                      <div class="col-md-3 col-sm-4 col-xs-6 cover-tag">
                        <span class="tag ellipsis">에어컨<button type="button" class="close">×</button></span>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-6 cover-tag">
                        <span class="tag ellipsis">식수대<button type="button" class="close">×</button></span>
                      </div>
                    </div>
                  </div>
								</div>
                <div class="form-group">
									<label class="col-sm-2 control-label" for="form-field-5">상품주소&nbsp;&nbsp;<a href="javascript:;" onclick="openAddressFinder(35.36903703945533,129.35595227175864);"><i class="fa fa-search"></i></a></label>
									<div class="col-sm-8 no-padding">
                    <div class="col-sm-7">
                      <input name="address" type="text" class="form-control" readonly="" value="울산 울주군 서생면 대송리 339-8"/>
                    </div>
                    <div class="col-sm-5">
                      <input name="latlon" type="text" class="form-control" readonly="" value="35.36903703945533,129.35595227175864"/>
                    </div>
									</div>
								</div>
                <hr>
                <div class="form-group">
                  <div class="col-sm-10 text-right">
            				<button class="btn btn-primary">
            					<i class="ace-icon fa fa-check"></i>
            					저장
            				</button>
                  </div>
								</div>
              </div>
						</div>
					</div>
				</div>

      </div>
    </div>
  </div>
</div>

<div id="addressfinder" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form>
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">주소검색</h4>
  			</div>
  			<div class="modal-body">
          <iframe style="width:100%; min-height:500px;">
          </iframe>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-new-conv-service" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">편의시설추가</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="col-sm-12 col-xs-12">
              <label class="col-xs-6">
                <input name="prod_level" type="checkbox" class="ace">
                <span class="lbl">&nbsp;에어컨</span>
              </label>
              <label class="col-xs-6">
                <input name="prod_level" type="checkbox" class="ace">
                <span class="lbl">&nbsp;식수대</span>
              </label>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-new-free-service" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">무료품목선택</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="form-horizontal">
                <div class="form-group">
    							<input class="col-xs-offset-1 col-xs-10" type="text" id="form-field-2" placeholder="품목명">
    						</div>
    					</div>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					저장
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-new-pay-service" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">유료품목등록</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">
              <div class="form-group">
  							<div class="col-sm-offset-1 col-sm-5">
  								<input class="col-xs-10" type="text" id="form-field-2" placeholder="품목명">
  							</div>
                <div class="col-sm-5">
  								<input class="col-xs-10" type="number" id="form-field-2" placeholder="가격">
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
