<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li><li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품조회</a>
      </li>
      <li class="active">진선장1호</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        진선장1호
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tabbable">
					<ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
						<li>
							<a href="/product/ProductDetail00">기본정보</a>
						</li>

						<li class="active">
							<a href="#">상품갤러리</a>
						</li>

						<li>
							<a href="/product/ProductDetail02">상품옵션</a>
						</li>
            <li>
							<a href="/product/ProductDetail03">어종관리</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane in active">
							<div class="row">
							  <div class="col-xs-12">
                  <ul class="ace-thumbnails clearfix" id="drag-sortable">
                    <li class="ui-state-default">
											<a href="assets/images/gallery/image-3.jpg" data-rel="colorbox" class="cboxElement">
												<img width="150" height="150" alt="150x150" src="/assets/images/gallery/thumb-3.jpg">
												<div class="text">
                          <div class="sort-no">1</div>
													<div class="inner">imagename.jpeg</div>
												</div>
											</a>
											<div class="tools tools-bottom">
												<a href="#">
													<i class="ace-icon fa fa-times red"></i>
												</a>
											</div>
										</li>
                    <li class="ui-state-default">
											<a href="assets/images/gallery/image-1.jpg" data-rel="colorbox" class="cboxElement">
												<img width="150" height="150" alt="150x150" src="/assets/images/gallery/thumb-1.jpg">
												<div class="text">
                          <div class="sort-no">2</div>
													<div class="inner">imagename.jpeg</div>
												</div>
											</a>
											<div class="tools tools-bottom">
												<a href="#">
													<i class="ace-icon fa fa-times red"></i>
												</a>
											</div>
										</li>
                    <li class="ui-state-default">
											<a href="assets/images/gallery/image-2.jpg" data-rel="colorbox" class="cboxElement">
												<img width="150" height="150" alt="150x150" src="/assets/images/gallery/thumb-2.jpg">
												<div class="text">
                          <div class="sort-no">3</div>
													<div class="inner">imagename.jpeg</div>
												</div>
											</a>
											<div class="tools tools-bottom">
												<a href="#">
													<i class="ace-icon fa fa-times red"></i>
												</a>
											</div>
										</li>
							    </ul>
							  </div>
							</div>
              <hr>
              <div class="row">
                <div class="col-xs-12 text-right">
                  <button class="btn btn-primary">
										<i class="ace-icon fa fa-cloud-upload align-top bigger-125"></i>파일업로드
									</button>
                </div>
              </div>
						</div>
					</div>
				</div>

      </div>
    </div>
  </div>
