<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li><li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품조회</a>
      </li>
      <li class="active">진선장1호</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        진선장1호
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="tabbable">
					<ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
            <li>
							<a href="/product/ProductDetail00">기본정보</a>
						</li>

						<li>
							<a href="/product/ProductDetail01">상품갤러리</a>
						</li>

						<li>
							<a href="/product/ProductDetail02">상품옵션</a>
						</li>
            <li class="active">
							<a href="/product/ProductDetail03">어종관리</a>
						</li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane in active">
              <h3 class="header smaller lighter blue">시즌별 어종목록&nbsp;<a href="#add-date-valid" data-toggle="modal"><i class="fa fa-plus-circle"></i></a></h3>
              <div class="row">
                <div class="col-xs-12">
                  <div class="empty-row">
                    <i class="fa fa-warning"></i>목록이 존재하지 않습니다.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 widget-container-col" id="firstOptions">
									<div class="widget-box ui-sortable-handle">
										<div class="widget-header">
											<h5 class="widget-title">어종 유효기한&nbsp;(01.31~08.31)</h5>
                      <div class="widget-toolbar">
  											<a href="#add-fish" role="button" data-toggle="modal" class="blue">
  												<i class="ace-icon fa fa-plus"></i>
  											</a>&nbsp;&nbsp;&nbsp;
  											<a href="#" class="red">
  												<i class="ace-icon fa fa-close"></i>
  											</a>&nbsp;&nbsp;&nbsp;
  										</div>
										</div>
										<div class="widget-body">
											<div class="widget-main">
                        <div class="row">
                          <div class="tag-box col-sm-12 col-xs-12" style="border:0;">
                            <div class="col-md-2 col-sm-2 col-xs-6 cover-tag">
                              <span class="tag ellipsis text-center">도다리<button type="button" class="close">×</button></span>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6 cover-tag">
                              <span class="tag ellipsis text-center">문어<button type="button" class="close">×</button></span>
                            </div>
                          </div>
                        </div>
											</div>
										</div>
									</div>
								</div>
              </div>

						</div>
					</div>
				</div>

      </div>
    </div>
  </div>
</div>


<div id="option-preview" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">첫번째시즌</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">
              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 날짜선택 </label>
  							<div class="col-sm-8">
                  <input type="text" class="form-control datepicker" data-date-format="yyyy.mm.dd"/>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 옵션1 </label>
  							<div class="col-sm-8">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="갈치낚시(07:00~12:00)">갈치낚시(07:00~12:00) [+10000원]</option>
        						<option value="참돔낚시(13:00~19:00)">참돔낚시(13:00~19:00)</option>
        					</select>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 옵션2 </label>
  							<div class="col-sm-8">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="대인">대인</option>
        						<option value="소인">소인(7세이하) [-10000원]</option>
        					</select>
  							</div>
  						</div>

            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-11 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-fish" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">어종 추가</h4>
  			</div>
        <div class="modal-body" style="max-height:500px; overflow-y:scroll;">
          <div class="row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label class="col-sm-6 col-xs-6">
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;오징어</span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="checkbox">
                <label class="col-sm-6 col-xs-6">
                  <input name="prod_level" type="checkbox" class="ace">
                  <span class="lbl">&nbsp;문어</span>
                </label>
              </div>
            </div>

          </div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
            <button class="btn btn-sm btn-primary" data-dismiss="modal">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="add-date-valid" class="modal">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">유효기한생성</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="" role="form">
              <div class="col-sm-12">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 시작일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 종료일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                </div>
  						</div>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
            <button class="btn btn-sm btn-primary" data-dismiss="modal">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div>

<div id="edit-date-valid" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">유효기한수정</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="" role="form">
              <div class="col-sm-12">
                <div class="form-horizontal">
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 시작일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                  <div class="form-group">
                    <label class="col-xs-3 form-field text-right"> 종료일 </label>
                    <input type="text" class="col-xs-8 datepicker" data-date-format="mm.dd"/>
                  </div>
                </div>
  						</div>
            </div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-12 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>
            <button class="btn btn-sm btn-primary" data-dismiss="modal">
    					<i class="ace-icon fa fa-plus"></i>
    					추가
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div>
