<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li>
      <li class="active">판매자 조회</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        판매자 조회
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          총(140)명의 판매자가 등록되었습니다.
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-9">
        <div class="col-md-3 col-sm-3 col-xs-3 no-padding-left">
          <select class="form-control flat" id="form-field-select-1">
						<option value="">전체</option>
						<option value="등록중">등록중</option>
						<option value="등록완료">등록완료</option>
					</select>
				</div>
        <div class="col-md-9 col-sm-9 col-xs-9 input-group">
          <input type="text" class="form-control" placeholder="판매자명,연락처,주소">
          <span class="input-group-btn info">
            <button class="btn btn-sm btn-info" type="button"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-3 text-right">
        <a class="btn btn-sm btn-info" href="#add-new-seller" role="button" data-toggle="modal">신규등록&nbsp;<i class="fa fa-plus"></i></a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-sm-3 col-xs-12">
            <div class="card">
              <a  href="#seller-detail" role="button" data-toggle="modal" class="btn-card">
                <div class="card-image">
                  <div class="profile-image" style="background-image:url(http://img.madoross.kr:80/img/15f70860034411e7bf17fb12557383eb.jpeg?ts=1495705538);"></div>
                  <span class="card-title">진선장1234</span>
                </div>
              </a>

              <div class="card-content">
                <div class="profile-user-info profile-user-info-striped">
                  <div class="profile-info-row">
                    <div class="profile-info-name"> 판매자명 </div>
                    <div class="profile-info-value">
                      <span class="" id="username">진선장</span>
                    </div>
                  </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name"> 연락처 </div>
                    <div class="profile-info-value">
                      <span class="">010-1234-1234</span>
                    </div>
                  </div>

                  <div class="profile-info-row">
                    <div class="profile-info-name"> 등록상태 </div>
                    <div class="profile-info-value">
                      <span class="color-warning">등록중</span>
                    </div>
                  </div>
                  <div class="profile-info-row">
                    <div class="profile-info-name"> 판매상품 </div>
                    <div class="profile-info-value">
                      <a href="#" data-action="settings" data-toggle="dropdown" aria-expanded="false">
      									진선장1호외 2개&nbsp;<i class="ace-icon fa fa-caret-down"></i>
      								</a>
                      <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret">
      									<li>
      										<a data-toggle="tab" href="#dropdown1">진선장1호[학동항] 바로가기</a>
      									</li>
      									<li>
      										<a data-toggle="tab" href="#dropdown2">진선장2호[학동항] 바로가기</a>
      									</li>
      								</ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="pagination-area text-center">
          <ul class="pagination">
            <li class="paginate_button previous disabled" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_previous">
              <a href="#">Previous</a>
            </li>
            <li class="paginate_button active" aria-controls="dynamic-table" tabindex="0">
              <a href="#">1</a>
            </li>
            <li class="paginate_button " aria-controls="dynamic-table" tabindex="0">
              <a href="#">2</a>
            </li>
            <li class="paginate_button next" aria-controls="dynamic-table" tabindex="0" id="dynamic-table_next">
              <a href="#">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.page-content -->
</div>

<div id="add-new-seller" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">판매자 등록</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">
              <div class="col-sm-12 text-center">
                <a href="#" class="btn-profile-upload">
                  <img src="/assets/images/gallery/thumb-3.jpg"/>
                </a>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">아이디</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="아이디">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">비밀번호</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="비밀번호">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">판매자명</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="판매자명">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">연락처</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="연락처">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">은행명</label>
  							<div class="col-sm-7">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="">은행선택</option>
        						<option value="수협">수협</option>
                    <option value="농협">농협</option>
        					</select>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">계좌번호</label>
  							<div class="col-sm-7">
                  <input class="col-xs-12" type="text" id="form-field-2" placeholder="계좌번호">
  							</div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">설명</label>
                <div class="col-sm-7">
                  <div class="col-xs-12 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="5"></textarea>
                  </div>
                </div>
							</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-10 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					등록
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->

<div id="seller-detail" class="modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
      <form name="add-new-business">
  			<div class="modal-header">
  				<button type="button" class="close" data-dismiss="modal">&times;</button>
  				<h4 class="blue bigger">판매자 등록</h4>
  			</div>
  			<div class="modal-body">
  				<div class="row">
            <div class="form-horizontal" role="form">
              <div class="col-sm-12 text-center">
                <a href="#" class="btn-profile-upload">
                  <img src="http://img.madoross.kr:80/img/15f70860034411e7bf17fb12557383eb.jpeg?ts=1495705538"/>
                </a>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">아이디</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="아이디">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">비밀번호</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="비밀번호">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">판매자명</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="판매자명">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">연락처</label>
  							<div class="col-sm-7">
  								<input class="col-xs-12" type="text" id="form-field-2" placeholder="연락처">
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">은행명</label>
  							<div class="col-sm-7">
                  <select class="form-control flat" id="form-field-select-1">
        						<option value="">은행선택</option>
        						<option value="수협">수협</option>
                    <option value="농협">농협</option>
        					</select>
  							</div>
  						</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2">계좌번호</label>
  							<div class="col-sm-7">
                  <input class="col-xs-12" type="text" id="form-field-2" placeholder="계좌번호">
  							</div>
  						</div>

              <div class="form-group">
								<label class="col-sm-3 control-label" for="form-field-11">설명</label>
                <div class="col-sm-7">
                  <div class="col-xs-12 no-padding">
                    <textarea class="autosize-transition form-control"  id="form-field-11" rows="5"></textarea>
                  </div>
                </div>
							</div>

              <div class="form-group">
  							<label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 판매상태 </label>
  							<div class="col-sm-9">
                  <div class="radio col-sm-12">
										<label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace" value="등록대기" checked="">
											<span class="lbl color-warning">등록대기</span>
										</label>
                    <label class="col-sm-4">
											<input name="form-field-radio" type="radio" class="ace" value="등록완료">
											<span class="lbl color-success">등록완료</span>
										</label>
									</div>
  							</div>
  						</div>

  					</div>
  				</div>
  			</div>
  			<div class="modal-footer">
          <div class="col-sm-10 text-right">
            <button class="btn btn-sm" data-dismiss="modal">
    					<i class="ace-icon fa fa-times"></i>
    					닫기
    				</button>

    				<button class="btn btn-sm btn-primary">
    					<i class="ace-icon fa fa-check"></i>
    					등록
    				</button>
          </div>
  			</div>
      </form>
		</div>
	</div>
</div><!-- PAGE CONTENT ENDS -->
