<div class="main-content-inner" id="channel-list-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품 데이터관리</a>
      </li><li>
        <i class="fa fa-th-list"></i>
        <a href="#">상품조회</a>
      </li>
      <li class="active">진선장1호</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        진선장1호
        <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
        </small>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">

    </div>
    
  </div>
</div>
