<div class="main-content-inner" id="home-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="#">영업관리</a>
      </li>
      <li class="active">신규등록</li>
    </ul><!-- /.breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        신규등록
        <%# <small>
          <i class="ace-icon fa fa-angle-double-right"></i>
          overview &amp; stats
        </small>%>
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
      
    </div>

  </div><!-- /.page-content -->
</div>
